<template>
<dashboard-layout :activePage="activePage">
    <div>
        <div class="about-profile container">
            <h2 class="clr-white mrg-btm">My Account</h2>
            <div class="row pb-3">
                <div class="col-md-3 align-center">
                    <img class="acc-img-responsive mrg-auto" src="assets/img/acc_one.png">
                    <a href="#">Application Submission</a>
                </div>
                <div class="col-md-3 align-center">
                    <img class="acc-img-responsive mrg-auto" src="assets/img/acc_two.png">
                    <a href="#">Auditing</a>
                </div>
                <div class="col-md-3 align-center">
                    <img class="acc-img-responsive mrg-auto" src="assets/img/acc_three.png">
                    <a href="#">Application Approval</a>
                </div>
                <div class="col-md-3 align-center">
                    <img class="mrg-auto" src="assets/img/acc_four.png" style="height: auto;width: 60px;">
                    <a href="#">Deposit</a>
                </div>

                <div class="col-md-12 align-center mrg-top">
                    <a href="#" class="login-btn">Login</a>
                </div>
                <div class="col-md-12 mrg-top mrg-btm">
                    <p>Open and Account now and you can enjoy...</p>
                </div>

                <div class="col-md-3 align-center">
                    <div class="box">
                        <h5>0</h5>
                        <p>0 Commision</p>
                    </div>
                </div>
                <div class="col-md-3 align-center">
                    <div class="box">
                        <h5>0</h5>
                        <p>0 Minimum Deposit</p>
                    </div>
                </div>
                <div class="col-md-3 align-center">
                    <div class="box">
                        <h5>4:00 - 20:00 (EST)</h5>
                        <p>Full extended hour training</p>
                    </div>
                </div>
                <div class="col-md-3 align-center">
                    <div class="box">
                        <h5>24/7</h5>
                        <p>Online help</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dashboard-layout>
</template>

<script>
import DashboardLayout from '../Layouts/Dashboard'

export default {
    props: {
        activePage: String,
    },
    components: {
        DashboardLayout,
    },
}
</script>
<style scoped>
.box{
    border: 1px dashed;
    padding: 50px 0px;
    height: 100%;
}
.box h5{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
}
@media (max-width:1024px){
    .box h5{
        font-size: 22px;
    }
    .box {
        height:100%;
    }
}
.login-btn{
    background-color: #009991;
    padding: 9px 80px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
}
.mrg-top{
    margin-top: 90px;
}
.mrg-btm{
    margin-bottom: 90px;
}
.mrg-auto{
    margin: 0 auto 30px auto;
}
.align-center{
    text-align: center;
}
.acc-img-responsive{
    width: 36px;
    height: 40px;
}
.clr-white{
    color: #fff;
    font-weight: 400;
}
</style>
