<template>
<dashboard-layout :activePage="activePage">
    
    <div class="trade-3-row row">
        <div class="trade-head3-menu">
            <div class="col-md-12 head-center">
                <h2>Choose a Board</h2>
            </div>
        </div>
        <div class="col-md-12">
            <form action="/customizeBoard" method="POST" @submit.prevent="submit" id="boardForm">
                <input type="hidden" name="_token" v-bind:value="csrf">
                <input type="hidden" name="boardId" id="boardId" value="">
            </form>
            <div class="tabset">
                <!-- Tab 1 -->
                <input type="radio" name="tabset" id="tab1" aria-controls="all" checked>
                <label for="tab1">All</label>
                <!-- Tab 2 -->
                <input type="radio" name="tabset" id="tab2" aria-controls="default">
                <label for="tab2">Default</label>
                <!-- Tab 3 -->
                <input type="radio" name="tabset" id="tab3" aria-controls="customized">
                <label for="tab3">Customized</label>

                <div class="tab-panels board-panels">
                    <section id="all" class="tab-panel">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card board-card">
                                        <a @click.prevent="boardForm(1)">
                                            <img class="card-img-top" src="/assets/img/add-board.png" alt="">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title board-title">Blank</h5>
                                            <p class="card-text">Add widgets to blank boards.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card board-card">
                                        <a @click.prevent="boardForm(2)">
                                            <img class="card-img-top" src="/assets/img/add-board2.png" alt="">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title board-title">Normal</h5>
                                            <p class="card-text">Default stock trading Board.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card board-card whole-show">
                                        <a href="" class="hov-show-dropdown">
                                            <img class="card-img-top" src="/assets/img/add-board3.png" alt="">
                                            <ul class="ul-show-dropdown">
                                                <li v-for="board in defaultBoards" :key="board.id">
                                                    <a @click.prevent="boardForm(board.id)">
                                                        {{board.name}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title board-title">Multi Trades</h5>
                                            <p class="card-text">Multi-charts for trade boards.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"  v-for="board in userBoards" :key="board.id">
                                    <div class="card board-card">
                                        <a href="#">
                                            <img class="card-img-top" :src="board.image" alt="">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title board-title">{{board.name}}</h5>
                                            <!-- <p class="card-text">Add widgets to blank boards.</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="default" class="tab-panel">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card board-card">
                                        <a @click.prevent="boardForm(1)">
                                            <img class="card-img-top" src="/assets/img/add-board.png" alt="">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title board-title">Blank</h5>
                                            <p class="card-text">Add widgets to blank boards.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card board-card">
                                        <a @click.prevent="boardForm(2)">
                                            <img class="card-img-top" src="/assets/img/add-board2.png" alt="">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title board-title">Normal</h5>
                                            <p class="card-text">Default stock trading Board.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card board-card whole-show">
                                        <a href="" class="hov-show-dropdown">
                                            <img class="card-img-top" src="/assets/img/add-board3.png" alt="">
                                            <ul class="ul-show-dropdown">
                                                <li v-for="board in defaultBoards" :key="board.id">
                                                    <a @click.prevent="boardForm(board.id)">
                                                        {{board.name}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title board-title">Multi Trades</h5>
                                            <p class="card-text">Multi-charts for trade boards.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="customized" class="tab-panel">
                        <div class="row">
                            <div class="col-md-4"  v-for="board in userBoards" :key="board.id">
                                <div class="card board-card">
                                    <a href="#">
                                        <img class="card-img-top" :src="board.image" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title board-title" asd>{{board.name}}</h5>
                                        <!-- <p class="card-text">{{board.image}}</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</dashboard-layout>
</template>

<script>
import DashboardLayout from '../Layouts/DashboardTrade'
localStorage.removeItem("activeBoard")
export default {
    props: {
        activePage      : String,
        defaultBoards   : Array,
        userBoards      : Array,
        
    },
    components: {
        DashboardLayout,
    },
    data() {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),       
        }
    },
    methods:{
        boardForm: function(boardId){
            document.getElementById("boardId").value=boardId
            document.getElementById("boardForm").submit()
        }
    }
}
</script>
