<template>
<dashboard-layout :activePage="activePage" :widgets="widgets">
    <div class="p-0">
        <vue-drag-resize ref="vueDragResize" :userBoards="userBoards" :templateBoard="templateBoard" :userTemplateBoards="userTemplateBoards"/>
    </div>
</dashboard-layout>
</template>

<script>
import DashboardLayout  from '../Layouts/DashboardCustomizeBoard'
import VueDragResize    from '../Components/VueDragResize'

export default {
    components: {
        DashboardLayout,
        VueDragResize,
    },
    props: {
        activePage          : String,
        userBoards          : Array,
        widgets             : Array,
        templateBoard       : Array, 
        userTemplateBoards  : Array
    },
    data(){
        return {
            child: "",
            boardImage: ""      
        }
    },
    mounted: function () {
        this.child= this.$refs.child
    },
    methods: {
        getActiveBoard: function () {  
            // return this.$refs.child.activeBoard.id
        },
        addClassFunc: function (status) {
            if(status=="add"){
                if(document.body.classList.contains('lite-theme')){
                    
                }else{
                    document.body.className += ' lite-theme';
                    document.querySelector("i.fa-sun-o").style.color = "yellow";
                    document.querySelector("#dayBtn").style.background = "black";
                    document.querySelector("i.fa-moon-o").style.color = "#000";
                }
                
            }else if(status=="remove"){
                document.body.className = document.body.className.replace(" lite-theme","");
                document.querySelector("i.fa-moon-o").style.color = "#fff";
                document.querySelector("i.fa-sun-o").style.color = "#00ada2";
                document.querySelector("#dayBtn").style.background = "transparent";
            }
        },
    }
}
</script>

<style>
    .vdr.active:before {
        border-right: 0px solid #001B26 !important;
        -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.89) !important;
        -moz-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.89) !important;
        box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.89) !important;
        outline: none !important;
    }

    .vdr-stick {
        background: #00ADA2 !important;
        border: 1px solid #00ADA2 !important;
        -webkit-box-shadow: 0 0 2px rgba(0, 173, 161, 0.89) !important;
        box-shadow: 0 0 2px rgba(0, 173, 161, 0.89) !important;
        border-radius: 50% !important;
    }

    ul.cb-widget-dropdown li {
        display: block;
        padding: 10px;
    }
    ul.cb-widget-dropdown {
        position:absolute;
        z-index:9;
        width: 250px;   
        background: #001623;
        padding: 5px;
        margin-top: 5px;
        font-size: 14px; 
        border: 2px solid #00ada2;
    }

    ul.head-right-links li:hover .widget-dropdown-dv {
        display: block;
    }

    .widget-dropdown-dv {
        position: relative;
        display: none;
        background: Red;
    }

    ul.cb-widget-dropdown li:after {
        display: none;
    }
    ul.cb-widget-dropdown li:not(:last-child){
        border-bottom: 1px solid #eeeeee3d;
    }
</style>

