<template>
<div>
    <h1>Home</h1>
    <inertia-link href="/checking">Create User</inertia-link>
    <form action="/logout" method="POST">
        <input type="hidden" name="_token" v-bind:value="csrf">
        <button type="submit">Logout</button>
    </form>
</div>
</template>

<script>
export default {
    
    props: {
        title: Object,
        success: String
    },
    data() {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),       
        }
    },
}
</script>
