<template>
<dashboard-layout :activePage="activePage">
    <div class="trade-2-row row">
        <div class="trade-head2-menu">
            <div class="head-left">
                <h1>Order Form</h1>
            </div>
            <!--Navigation End-->
            
        </div>
    </div>
    <div class="p-0">
        <vue-drag-resize 
            ref="child" 
            :widgets="widgets"  
        />
    </div>
</dashboard-layout>
</template>

<script>
import DashboardLayout from '../Layouts/Dashboard'
import VueDragResize from '../Components/VueDragOrderForm'

export default {
    components: {
        DashboardLayout,
        VueDragResize,
    },
    props: {
        activePage: String,
        widgets: Array,
    },

    methods: {
        addWidget: function (widgetId) { 
            let _this = this 
            axios.post('/api/addWidget', {
                    "widgetId": widgetId
                })
                .then(function (response) {
                    _this.$refs.child.addWidget(response.data)
                })
                .catch(function (error) {
                    // console.log(error);
                })
                .then(function () {
                    console.log("************");
                });
            
        }
    }
}
</script>

<style>
    .vdr.active:before {
        border-right: 1px solid #001B26 !important;
        -webkit-box-shadow: 0px 0px 2px 0px !important;
        -moz-box-shadow: 0px 0px 2px 0px !important;
        box-shadow: 0 0 2px !important;
        outline:none !important;
    }
    .vdr-stick {
        background: #00ADA2 !important;
        border: 1px solid #00ADA2 !important;
        -webkit-box-shadow: 0 0 2px !important;
        box-shadow: 0 0 2px !important;
        border-radius: 50% !important;
    }
</style>
