<template>
<dashboard-layout :activePage="activePage">
    <div class="trade-2-row row">
        <div class="trade-head2-menu">
            <div class="head-left">
                <h1>My Watchlist</h1>
            </div>
            <!--Navigation End-->
            
        </div>
    </div>
    <div class="p-0">
        <!-- <vue-drag-resize 
            ref="child" 
            :widgets="widgets"  
        /> -->
        <div class="row" style="height: 93vh;">
            <div class="col-md-10" style="padding-right:0px;">
                <div class="row custom-row watch-div-one">
                    <table class="table">
                        <thead style="background-color: rgb(0, 22, 35);">
                            <tr>
                                <th>No</th>
                                <th>Symbol</th>
                                <th>Name</th>
                                <th>Change</th>
                                <th>%Change</th>
                                <th>Open</th>
                                <th>Prev Close</th>
                                <th>High</th>
                                <th>Low</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>IXIC</td>
                                <td>NASDAQ</td>
                                <td class="green">+310.99</td>
                                <td class="red">-2.4</td>
                                <td>12.90</td>
                                <td>12980.15</td>
                                <td>13,000</td>
                                <td>12,599.23</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>DIA</td>
                                <td>SPDA Doe Jones Industrial Average</td>
                                <td class="green">+3.99</td>
                                <td class="green">+3.2</td>
                                <td>12.90</td>
                                <td>12980.15</td>
                                <td>13,000</td>
                                <td>12,599.23</td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>SPY</td>
                                <td>SPDR S&P</td>
                                <td class="green">+2.5</td>
                                <td class="red">-4.9</td>
                                <td>12.90</td>
                                <td>12980.15</td>
                                <td>13,000</td>
                                <td>12,599.23</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>AAPL</td>
                                <td>Apple</td>
                                <td class="red">-84.2</td>
                                <td class="red">-5.9</td>
                                <td>12.90</td>
                                <td>12980.15</td>
                                <td>13,000</td>
                                <td>12,599.23</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>GOOG</td>
                                <td>Alphabet</td>
                                <td class="green">+2.5</td>
                                <td class="red">-5.91</td>
                                <td>12.90</td>
                                <td>12980.15</td>
                                <td>13,000</td>
                                <td>12,599.23</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row watch-div-2">
                    <div class="accordion accordion-icons" id="accordionExample" style="width:98%;">
                        <div class="card">
                            <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <i class="fa fa-plus" aria-hidden="true" style="font-size: 14px;margin-left: 10px;margin-top: 10px;"></i><span style="font-size:12px;margin-left:10px;">Add Symbol</span>
                                <button style="float:right;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </button>
                            </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6" style="height:100%;padding: 0px 3px;">
                                            <div style="border:1px solid;height:255px;">
                                                <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px;">
                                                    <div class="col-md-12">
                                                        <h4 class="h4-head" style="font-size:14px;font-weight:bold;">Corporate Actions</h4>
                                                    </div>
                                                </div>
                                                <div class="drag-inner">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <td style="color:#a8a8a8;">Name</td>
                                                                <td style="color:#a8a8a8;">Symbol</td>
                                                                <td style="color:#a8a8a8;">Type</td>
                                                                <td style="color:#a8a8a8;">Time</td>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <div style="text-align:center;">
                                                        <p>Please <a href="https://www.google.com/" target="_blank" class="a-style">Login</a> to Check corporate actions</p>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-6" style="height:100%;padding: 0px 3px;">
                                            <div style="border:1px solid;">
                                                <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px;">
                                                    <div class="col-md-12">
                                                        <h4 class="h4-head" style="font-size:14px;font-weight:bold;">News</h4>
                                                    </div>
                                                </div>
                                                <div class="drag-inner">
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:300;">42m ago AAPL</td>
                                                                <td>Is mixed reality the frontier for Big Tech</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:300;">42m ago AAPL</td>
                                                                <td>Is mixed reality the frontier for Big Tech</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:300;">42m ago AAPL</td>
                                                                <td>Is mixed reality the frontier for Big Tech</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:300;">42m ago AAPL</td>
                                                                <td>Is mixed reality the frontier for Big Tech</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-weight:300;">42m ago AAPL</td>
                                                                <td>Is mixed reality the frontier for Big Tech</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-2 lite-border" style="height:100%;padding-left:0px;padding-right:0px;">
                
                <div class="col-md-12">
                    <h5 style="margin-bottom:0px;font-size:14px;">IXIC<span>IDXNASDAQ</span></h5>
                    <p>NASDAQ</p>
                    <div class="jss381">
                        <div class="jss385 jss392 false">
                            <div class="price  g-clickable green">13,535.74</div>
                            <div class="changePrice">
                                <span class="ratio green">+236.00</span>
                                <span class="ratio green"> +1.77% </span>
                            </div>
                        </div>
                    </div>
                    <div class="jss382">
                        <div class="jss390">
                            <span>Closed</span>
                        </div>
                        <div class="jss390">
                            <div class="tips-time">
                                <span>05/20 16:53 EDT</span>
                            </div>
                        </div>
                    </div>
                    <div class="jss160 jss165"></div>
                    <div class="jss373">
                        <div style="padding-top: 8px;">
                            <div class="content">
                                <i aria-hidden="true" class="fa fa-star" style="font-size: 14px;"></i>
                                <i aria-hidden="true" class="fa fa-bell" style="font-size: 14px;"></i>
                                <i aria-hidden="true" class="fa fa-edit" style="font-size: 14px;"></i>
                            </div>
                        </div>
                        <div class="jss386">
                            <div class="tips-time contentLs">
                                <div class="jss388 Ls"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12" style="padding: 0px;">
                    <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px;">
                        <div class="col-md-12">
                            <h4 class="h4-head" style="font-size: 14px; font-weight: bold;">Key Statistics</h4>
                        </div>
                    </div>
                    <div class="drag-inner" style="padding:0px 15px;">
                        <div style="padding-top:15px;">
                            <div class="jss459 expand">
                                <div class="jss460">
                                    <div class="tr">
                                        <div class="td">Open</div>
                                        <div class=" td value open jss462 g-clickable">13,356.63</div>
                                    </div>
                                    <div class="tr">
                                        <div class="td">Prev Close</div>
                                        <div class=" td value preClose g-number-regular g-clickable">13,299.74</div>
                                    </div>
                                </div>
                                <div class="jss460">
                                    <div class="tr">
                                        <div class="td">High</div>
                                        <div class=" td value high jss462 g-clickable">13,563.52</div>
                                    </div>
                                    <div class="tr">
                                        <div class="td">Low</div>
                                        <div class=" td value low jss462 g-clickable">13,355.71</div>
                                    </div>
                                </div>
                                <div class="jss460">
                                    <div class="tr">
                                        <div class="td">Volume</div>
                                        <div class=" td value volume g-number-regular">808.81M</div>
                                    </div>
                                    <div class="tr">
                                        <div class="td">Avg Vol(3M)</div>
                                        <div class=" td value avgVol3M g-number-regular">1.07B</div>
                                    </div>
                                </div>
                                <div class="jss460">
                                    <div class="tr">
                                        <div class="td">52 Wk High</div>
                                        <div class=" td value fiftyTwoWkHigh g-number-regular">14,211.57</div>
                                    </div>
                                    <div class="tr">
                                        <div class="td">52 Wk Low</div>
                                        <div class=" td value fiftyTwoWkLow g-number-regular">9,144.28</div>
                                    </div>
                                </div>
                                <div class="jss460">
                                    <div class="tr">
                                        <div class="td">Turnover</div>
                                        <div class=" td value dealAmount g-number-regular">--</div>
                                    </div>
                                    <div class="tr">
                                        <div class="td">% Range</div>
                                        <div class=" td value vibrateRatio g-number-regular">1.56%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding: 0px;">
                    <div class="row custom-row" style="background-color: rgb(0, 22, 35);padding: 5px;">
                        <div class="col-md-12">
                            <h4 class="h4-head" style="font-size: 14px; font-weight: bold;">Positions</h4>
                        </div>
                    </div>
                    <div class="drag-inner watch-div-3">
                        <div style="padding-top:15px;">
                            <div draggable="true">
                                <div class="jss319">
                                    <span>Please </span>
                                    <div class="jss320">Login</div>
                                    <span> to view Positions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding: 0px;">
                    <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px;">
                        <div class="col-md-12">
                            <h4 class="h4-head" style="font-size: 14px; font-weight: bold;">Quick Chart</h4>
                        </div>
                    </div>
                    <div class="drag-inner watch-div-4">
                        <div style="padding-top:15px;padding-bottom:15px;">
                            <img src="assets/img/graph-one.png" style="width:80%;margin: 0 auto;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding: 0px;">
                    <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px;">
                        <div class="col-md-12">
                            <h4 class="h4-head" style="font-size: 14px; font-weight: bold;">Level 1</h4>
                        </div>
                    </div>
                    <div class="drag-inner watch-div-3">
                        <div style="padding-top:15px;">
                            <div draggable="true">
                                <div class="jss319">
                                    <span>Please </span>
                                    <div class="jss320">Login</div>
                                    <span> to view Details</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</dashboard-layout>
</template>

<script>
import DashboardLayout from '../Layouts/Dashboard'
import VueDragResize from '../Components/VueDragWatchlist'

export default {
    components: {
        DashboardLayout,
        VueDragResize,
    },
    props: {
        activePage: String,
        widgets: Array,
    },

    methods: {
        addWidget: function (widgetId) { 
            let _this = this 
            axios.post('/api/addWidget', {
                    "widgetId": widgetId
                })
                .then(function (response) {
                    _this.$refs.child.addWidget(response.data)
                })
                .catch(function (error) {
                    // console.log(error);
                })
                .then(function () {
                    console.log("************");
                });
            
        }
    }
}
$(function(){
		$(".btn-link").on("click", function () {
		$(this).find('i').toggleClass("fa-angle-up fa-angle-down");
		});
    });
</script>

<style>
.lite-theme .watch-div-4{
        background-color: #c5c5c5;
}
.watch-div-3{
padding:0px 15px;height: 165px;background-color: #000000;
}
.lite-theme .watch-div-3{
    background-color: #fff;
}
.lite-theme .lite-border{
    border-left: 1px solid;
}
.watch-div-2{
    position: relative;bottom: 0;clear:both;padding-right: 0px;padding-left: 15px;
}
.watch-div-one{
color: rgb(0, 199, 185);height:100%;background-color:black;padding-right:0px;
}
.jss319 {
    top: 50%;
    left: 50%;
    color: #8A8D91;
    position: absolute;
    font-size: 10px;
    min-width: 200px;
    transform: translate(-50%, -50%);
    text-align: center;
}
.jss320 {
    color: #0B90FF;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
}
.jss459.expand {
    max-height: 600px;
    margin-bottom: 3px;
}
.jss460 {
    display: flex;
    line-height: 22px;
}
.jss460 .tr:nth-child(1) {
    margin: 0 5px 0 0;
}
.jss460 .tr:nth-child(2) {
    margin: 0 0 0 5px;
}
.jss460 .tr {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.jss460 .tr .td:last-child {
    color: #ffffff;
}
.lite-theme .jss460 .tr .td:last-child {
    color: #000000;
}
.jss460 .tr .td:first-child {
    color: rgba(255, 255, 255, 0.7);
}
.lite-theme .jss460 .tr .td:first-child {
    color: rgba(0, 0, 0, 0.7);
}
.jss462 {
    color: #0CAF82 !important;
}
.jss460 .tr .td {
    font-size: 12px;
}
.jss460 .tr {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.jss459 {
    overflow: hidden;
    max-height: 65px;
    transition: max-height 0.5s;
    margin-bottom: 3px;
}
.jss434 {
    position: relative;
    border-top: 1px solid #D9DFE8;
}
.jss438 {
    height: 80px;
    display: flex;
    padding-left: 100px;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-image: url(https://pub.webull.com/global/web/webquotes-g/assets/7bc0790….png);
}
.jss440 {
    color: #171B6B;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-line;
}
.jss441 {
    color: #0B90FF;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    line-height: 20px;
}
.jss441 > i {
    color: #0B90FF;
    font-size: 20px;
}
.webull-Middle_arrow_right_:before {
    content: "\e6b1";
}
.jss435 {
    top: 5px;
    right: 10px;
    width: 14px;
    height: 14px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
}
.jss437 {
    color: #FFFFFF;
}
.lite-theme .jss437 {
    color: #000000;
}
.jss436 {
    width: 14px;
    cursor: pointer;
    font-size: 10px;
    line-height: 14px;
}
.webull-cancel_:before {
    content: "\e69e";
}
.jss378 {
    color: rgba(9,19,44,0.5);
    float: right;
    width: 22px;
    cursor: pointer;
    height: 22px;
    font-size: 22px;
    line-height: 22px;
}
.webull-memo_:before {
    content: "\e73e";
}
.webull-alert-settings-small__:before {
    content: "\e73a";
}
.jss380 {
    color: #0B90FF;
}
.webull-s1:before {
    content: "\e753";
}
.jss386 {
    cursor: pointer;
    display: flex;
    padding-top: 8px;
    justify-content: flex-end;
}
.jss388.Ls {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAkBJREFUWAnFV79rFUEQ/mbvPQmSSAiIEuwCFiYgFnYpxFoIWFj4B4iChUUEsRQkXSCV2PjjT9BC/RsEwSaBVCpJHSKmMfdux28v5uXi7t273XuJA4+3O3Mz3/dmZvfdCCi6Pn8GO+YS+jqJfNB3uhOTfi9HLnuYsdsyv74vJfgursAW2YmBhgKbrMA0Nkz5y08b3BFymMy6KdMeYhirE70Jsfej3FhyM5aaiz0L1ceAnIsiwH4zUQ51Dyse0HS+ztykHweBywS40wTSZBsDgeIpAZJPUDcCYm+z7gtNv3CULZ1AZqaheDgKYJQ9nUCRP2LwuK4PsEkjIHKNqb8ViBet6kV7oKCPPIn3C3skZMDcZe3nwuHiT0NcBlQu8rq9VwPOv1UsQYrFoV3lPWBeDveBRRwBY5cJMhGI81elPahcKDeCfYh+4vON0r4EmS7yvr/RGK1qVLyBZj+qqtC6fQaszjDAx0qQWa6vVvZHS5HvTP1rEj7S1azaE1DDesJ9DkSK60z3i8PtsW/VFTZEfkxXs2lfAi+AmfJUTnHQeF+CtoCyAwG+P/qyy4O45qvrNR0IwM+AyCqs/KyH8y3pBBT/ZEA+M/0ffIhmTRcC1Qz8RuYaL17SCUilB0ReoTBb8fA8rClOpY+YwxJ8Q2bfpsZpfw/4CJMQd9FmzzHQgW9up+lAQKfYdO948L+2gwo/xcGEs1qKWNnke0HUmfdgiM3BhINiiog8o9uvFNehD7GNm1LhBsXTFofpJmSH+z/H8z/jvJSY8JowfQAAAABJRU5ErkJggg==);
}
.jss418 {
    top: 10px;
    right: 12px;
    position: absolute;
}
.jss419 {
    font-size: 16px;
}
.webull-ticker_setting:before {
    content: "\e76d";
}
.jss114 {
    cursor: pointer;
}
.jss388 {
    width: 22px;
    height: 22px;
    background-size: auto 16px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.jss114 {
    cursor: pointer;
}
.jss113 {
    color: rgba(9,19,44,0.5);
    cursor: inherit;
    font-size: 24px;
    font-style: normal;
    font-family: iconfont!important;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}
.jss373 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
}
.jss160 {
    position: relative;
}
.jss165:after {
    border-top-width: 0.5px;
}
.jss160:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    border-color: #E7EAEF;
    border-style: solid;
    border-width: 0.1;
    pointer-events: none;
}
.jss382 {
    height: 22px;
    margin: 2px 0 8px 0;
    display: flex;
    overflow: hidden;
    align-items: center;
}
.jss390 {
    color: rgba(9,19,44,0.7);
    padding: 0 2px 0 1px;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
}
.jss381 {
    display: flex;
    align-items: flex-end;
    line-height: 30px;
}
.jss385 .price {
    font-size: 30px;
    text-align: left;
    margin-right: 4px;
}
.jss385 .changePrice {
    display: flex;
    flex-direction: column;
    
}
.jss385 .changePrice .ratio {
    font-size: 12px;
    line-height: 14px;
}
.g-clickable {
    cursor: pointer!important;
}
.jss385 {
    color: #09132C;
    display: flex;
    align-items: flex-end;
}
p{
    font-size:12px !important;
}
th{
    font-size:12px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 600;
}
td{
    font-size:12px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 600;
}
.card-body {
    padding: 0rem 1.25rem;
}
.card-header {
    padding: 0px;
}
.accordion{
  bottom: 0px;
  position: absolute;
}
.accordion-icons .card-header .btn:hover, 
.accordion-icons .card-header .btn:active, 
.accordion-icons .card-header .btn:focus  {
    text-decoration:none;
}
    .vdr.active:before {
        border-right: 1px solid #001B26 !important;
        -webkit-box-shadow: 0px 0px 2px 0px !important;
        -moz-box-shadow: 0px 0px 2px 0px !important;
        box-shadow: 0 0 2px !important;
        outline:none !important;
    }
    .vdr-stick {
        background: #00ADA2 !important;
        border: 1px solid #00ADA2 !important;
        -webkit-box-shadow: 0 0 2px !important;
        box-shadow: 0 0 2px !important;
        border-radius: 50% !important;
    }
    .a-style {
        color: #00ada2;
    }

    .table th,
    .table td {
        border-bottom: none !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border: none !important;
    }

    .table th:nth-child(1),
    .table td:nth-child(1) {
        padding-left: 50px;
    }

    .table th:last-child,
    .table td:last-child {
        padding-right: 50px;
    }

    th {
        color: #00cfc0;
    }

    .red {
        color: red !important;
    }

    .green {
        color: #08e008 !important;
    }
    /* Style the tab */
tr:nth-child(even){
    background-color:rgb(242 242 242 / 7%);
}
td.order-symbol {
    color: orange;
    text-transform: uppercase;
}

td.order-side {
    text-transform: uppercase;
}

.order-buy {
    color: #05cc0c !important;
}

.order-sell {
    color: red !important;
}

table tr td.order-status.order-filled i:after {
    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #02a511;
    left:10px;
    top:11px;
    }

table tr td.order-status.order-filled{
    padding-left:35px;
    position:relative;
}
table tr td.order-status.order-pending i:after {
    content:"";
    position: absolute;
    height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 18px solid yellow;
	left:10px;
    }
td.order-status.order-pending {
	position:relative;
	padding-left:35px;
}

	



td.order-tif {
    text-transform: uppercase;
}

td.order-route {
    text-transform: uppercase;
}
.vdr.price-chart:before {
    display:none;
}

.order-place .row {
    width:100%;
    justify-content:space-between;
}
.order-place select {
    width:100%;
}
.order-place select,.order-place input{
    color: #000;
}
.order-place option{
    color: #000 !important;
}

.col-md-4.header-two-part {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-two-part h4 {
    margin-left: 5px;
    margin-right: 5px;
}

.row.data-dollars {
    margin-bottom: 30px;
}
.row.data-stocks {
    margin-bottom: 30px;
}
.order-place .col{
    padding-left:0px;
    padding-right:0px;
    max-width:48% !important;
}
.order-place .row{
    margin-left:0px;
    margin-right:0px;
}
.order-place input[type="text"]{
    width:100%;
}
form.order-place-form {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.order-place {
    border: 2px solid #4a5358;
}
.invest-in-row {
    padding-bottom: 20px;
}
.estimat-qty {
    padding-top: 20px;
}
.m-price {
    padding-top: 20px;
}
.est-cost {
    padding-top: 20px;
}
.bid-price {
    background-color: #274050;
    padding: 15px 10px !important;
}
.ask-price {
    background-color: #274050;
    padding: 15px 10px !important;
}
.lot-size {
    background-color: #00ada2;
    padding: 15px 10px;
    border-radius: 28px;
}
.bid-p-row{
    /* padding-left:10px; */
    /* padding-right:10px; */
    margin-bottom: 20px;
    margin-top: 10px;
    background: #274050;
}
.col.ask-price {
    text-align: right;
}
.col.lot-size {
    text-align: center;
}
.bid-p-row p {
    margin: 0px;
}
.buy-btn input[type="submit"] {
    width: 100%;
    padding: 10px;
    color:#fff;
    background-color:#00ada2;
}
.sell-btn input[type="submit"] {
    width: 100%;
    padding: 10px;
    color:#fff;
    background-color:#00ada2;
}
.order-t-qty {
    margin-top: 15px;
}
.lmt-price {
    margin-top: 15px;
}
.day-in-force {
    margin-top: 15px;
}
.order-place .lmt-price .col {
    max-width: 100% !important;
}
.st-loss {
    margin-top: 15px;
}

.execute-trade input[type="submit"] {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #00ada2;
}

.execute-trade {
    margin-top: 20px;
    margin-bottom: 15px;
}

.last-row .col {
    padding-bottom: 15px;
}

.bottom_form{
    display:none;
}
form.order-place-form input[type="number"] {
    width: 100%;
}
.adv-checked {
    padding-top: 15px;
    padding-bottom: 5px;
}
.aapl-custom-box h4{
    font-size: 17px;
}
</style>
