.about-us-bg {
    background-color:#000e14;;
}
.bg-dark-theme {
    background-color: #000e14;
}
img.whoweare-img {
    width: 460px;
    height: auto;
    float:left;
}
img.whatweoffer-img {
    width: 460px;
    height: auto;
    float:left;
}
img.ourbelief-img {
    width: 460px;
    height: auto;
    float:right;
}
.whoweare-content {
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
}
.ourbelief-content  {
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
}
.whatweoffer-content {
    padding-top: 5px;
    padding-left: 10%;
    padding-right: 10%;
}
.second-cont , .third-cont , .fourth-cont {
    background-color: #000e14;
    padding: 20px;
    color: white;
    font-size: 22px;
}
ul.whatweoffer-lists li::marker {
    content: '-';
}
.whatweoffer-lists{
    padding:0;
}
.whoweare-headng , .ourbelief-headng , .whatweoffer-headng{
    color: #00fff6;
}
body.lite-theme .fourth-cont {
    background-color: #fff;
}
body.lite-theme .about-us-bg {
    background-color: #fff;
}
@media(max-width: 1024px){
    .whoweare-content {
        padding-top: 14%;
        padding-left: 21%;
        padding-right: 3%;
    }
    .ourbelief-content  {
        padding-top: 14%;
        padding-left: 3%;
        padding-right: 21%;
    }
    .whatweoffer-content {
        padding-top: 10px;
        padding-left: 21%;
        padding-right: 3%;
    }
}
@media(max-width: 768px){
    img.whoweare-img {
        width: 400px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float:unset;
    }
    img.whatweoffer-img {
        width: 400px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float:unset;
        padding-top: 5%;
    }
    img.ourbelief-img {
        width: 400px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float:unset;
    }
    .whoweare-content , .whatweoffer-content , .ourbelief-content {
        padding-top: 5%;
        padding-left: 20px;
        padding-right: 20px;
    }
}