.main-bg{
	  		background-color: #001017;
	  	}
	  	.mrk-overview-bg{
	  		/*background: */
		   /* url(../img/side-graph.png);*/
	  		/*background-position: right;*/
	  		/*background-repeat: no-repeat;*/
	  		
	  		/*background-size: contain;*/
	  		/*background-position-x: right;*/
	  		/*background-size: 600px;*/
	  		/*background-position-y: center;*/
	  		/*z-index: 1;*/
	  		background-color: #000a10;
	  	}
	  	.market-pg-sec-4:after {
          content:"";
          position:absolute;
          background: url(../img/side-graph-sm.png);
          background-repeat: no-repeat;
        width: 355px;
        height: 750px;
        right: 0px;
        top: -45px;
      	}
      	.mrk-overview-bg.market-pg-sec-4.market-pg-common {
            position: relative;
        }
	  	.bs-example{
        margin: 20px;
    	}
    	.nav-a-margin{
    		margin-left: 10px;
    		margin-right: 10px;
    	}
    	.dark-light-btn{
    		top: 300px;
    		position: absolute;
    	}
    	.pd-0
    	{
    		padding-right: 0px;
    		padding-left: 0px;
    	}
    	a.navbar-brand {
		    padding-left: 30px;
		}
  /*  	div#navbarCollapse {*/
		/*    padding: 0px 0px 0px 35px;*/
		/*}*/
		span.input-group-append {
            padding-right: 30px;
        }
        .dot {
		  height: 13px;
		  width: 13px;
		  background-color: #1498ed;
		  border-radius: 50%;
		  display: inline-block;
		  margin-top: 11px;
		}
		.container
		{
			max-width: 1520px;
		}
		.table-responsive-stack tr {
		  display: -webkit-box;
		  display: -ms-flexbox;
		  display: flex;
		  -webkit-box-orient: horizontal;
		  -webkit-box-direction: normal;
		      -ms-flex-direction: row;
		          flex-direction: row;
		}


		.table-responsive-stack td,
		.table-responsive-stack th {
		   display:block;
		/*      
		   flex-grow | flex-shrink | flex-basis   */
		   -ms-flex: 1 1 auto;
		    flex: 1 1 auto;
		    font-size: 14px;
    		font-weight: 100;
			border:none;
		}

		.table-responsive-stack .table-responsive-stack-thead {
		   font-weight: bold;
		}

		@media screen and (max-width: 768px) {
		   .table-responsive-stack tr {
		      -webkit-box-orient: vertical;
		      -webkit-box-direction: normal;
		          -ms-flex-direction: column;
		              flex-direction: column;
		      /*border-bottom: 3px solid #ccc;*/
		      display:block;
		      border:none;
		      
		   }
		   /*  IE9 FIX   */
		   .table-responsive-stack td {
		      float: left\9;
		      width:100%;
		   }
		}
		table tr th{
			border-bottom: 0px solid #dee2e6 !important;
			color: #8b8b8b;
		}
		table tbody tr td{
			color: white;
		}
		table tbody tr td:nth-child(1){
			color: white;
		}
		.col-red
		{
			color: red;
		}
		.col-green{
			color: #67d100;
		}
		#tab-button{
			width: 100%;
		}
		select#tab-select {
		    padding: 5px 15px;
		    background-color: #00121e;
            color: white;
            border-color: aqua;
            width: 100%;
		}
		.one:before, .one:after {
		    content: "";
		    height: 1px;
		    background: linear-gradient(to right, rgba(0,0,0,0) 0%,#3dd4c9 50%,rgba(0,0,0,0) 100%);
			display: block;
		}
		.img-pd-5{
			padding-right: 5px !important;
		}
		.mgr-0{
			margin-right: 0px !important;
		}
		.wdth-100{
			width: 100% !important;
		}
		.bg-one{
			background-color: #000d13 !important;
		}
		.con-one{
			padding-top: 100px;padding-left: 0px;padding-right: 0px;padding-bottom: 100px;
		}
		.pd-20{
			padding: 20px !important;
		}
		.bx-shad{
			-webkit-box-shadow: 0px 0px 8px 0px rgba(0,28,32,1);-moz-box-shadow: 0px 0px 8px 0px rgba(0,28,32,1);box-shadow: 0px 0px 8px 0px rgba(0,28,32,1);background-color: #000c11;padding: 20px;
		}
		.bx-h1{
			color: white;padding: 15px 15px 0px 30px;font-weight: 200;
		}
		.bx-img{
			width: 18px;padding-bottom: 5px;
		}
		.bx-p{
			color: #00fff6;padding: 0px 0px 0px 30px;margin-bottom: 0px;
		}
		.bx-p-2{
			color: #00fff6;padding: 0px 0px 0px 30px;margin-bottom: 20px;
		}
		.bx-p-3{
			color: #ff0000;padding: 0px 0px 0px 30px;margin-bottom: 0px;
		}
		.bx-p-4{
			color: #ff0000;padding: 0px 0px 0px 30px;margin-bottom: 20px;
		}
		.new-bg-1{
			background-color: #00121e;
		}
		.pd-60{
			padding:45px 0px !important;
		}
		.h4-one{
			margin:0px;color:white;font-weight:100;
		}
		.p-one{
			margin:0px;color:#27f101;
		}
		.p-two{
			margin:0px;color:#ea0203;
		}
		.cl-3{
			border-right: 1px solid #001b26;
		}
		.sty-one
		{
			margin:0px;color:#00fff6;font-weight:400;padding-left: 15px;
		}
		.pd-60-40{
			padding:60px 40px;
		}
		.sty-two
		{
			margin:0px;color:#00fff6;font-weight:400;padding-bottom: 40px;padding-left: 15px;
		}
		.bg-c-6{
			background-color: #00111d;color: white;
		}
		.sty-three{
			border-right: 1px solid #001b26;-webkit-box-shadow: 0px 0px 20px -2px rgba(0,173,161,0.21);-moz-box-shadow: 0px 0px 20px -2px rgba(0,173,161,0.21);box-shadow: 0px 0px 20px -2px rgba(0,173,161,0.21);padding: 20px;height: 470px;
		}
		.sty-four{
			padding: 30px;background-color: #0e8b6b;
		}
		.sty-five{
			padding: 0px 20px 20px 20px;
		}
		.sty-six{
			padding: 20px;background-color: #0e8b6b;text-align: center;margin: 18px 0px;
		}
		.sty-seven{
			border-right: 1px solid #001b26;-webkit-box-shadow: 0px 0px 20px -2px rgba(0,173,161,0.21);-moz-box-shadow: 0px 0px 20px -2px rgba(0,173,161,0.21);box-shadow: 0px 0px 20px -2px rgba(0,173,161,0.21);padding: 15px;
		}
		.sty-eight{
			margin:0px;color:white;font-weight:100;color:#00fff6;
		}
		.sty-nine{
			padding: 15px 15px 15px 0px !important;
		}
		.pdl-0{
			padding-left: 0px !important;
		}
		.bold-tbl{
		    font-weight: bold;
		    font-size: 18px;
		}
		.box-main {
		    display: flex;
		    padding: 20px !important;
		}
		.b-r-1 {
		    width: 35%;
		}
		.box-one {
		    border: 1px solid;
		    width: 100%;
		    background-color: #0e8b6b;
		    padding: 40px;
		    position: relative;
		    /* margin-right: 5px; */
		    margin-bottom: 15px;
		    height:200px;
		    display: flex;
            justify-content: center;
            align-items: center;
		}
		.box-one-one {
		    border: 1px solid;
		    width: 100%;
		    background-color: #0e8b6b;
		    padding: 40px;
		    /*display: inline-block;*/
		    position: relative;
		    /* margin-right: 5px; */
		    margin-bottom: 15px;
		    height: 46%;
		    display: flex;
            justify-content: center;
            align-items: center;
		}
		
		.b-r-2 {
		    width: 30%;
		}
		.box-three {
		    border: 1px solid;
		    width: 90%;
		    background-color: #0e8b6b;
		    padding: 40px;
		    /*display: inline-block;*/
		    position: relative;
		    /* margin-right: 15px; */
		    margin-bottom: 15px;
		    margin-left: 17px;
		    height: 46%;
		    display: flex;
            justify-content: center;
            align-items: center;
		}
		.b-r-3 {
    	width: 35%;
		}

		.box-two {
			height: 341px;
		    border: 1px solid;
		    width: 95%;
		    background-color: #0e8b6b;
		    padding: 40px;
		    /*display: inline-block;*/
		    position: relative;
		    margin-bottom: 15px;
		    margin-left: 15px;
		    display: flex;
            justify-content: center;
            align-items: center;
		}
		.tr-40
		{
			padding-bottom: 40px;
		}
		.tr-40 th{
		    font-size: 20px !important;
            font-weight: 400 !important;
		}
		.mb-pd-20{
		    padding-left:20px !important;
		    padding-right:20px !important;
		}
		.table td, .table th{
		    border-top:none;
		}
		.table th{
		    font-weight: 500;
		}
		.table{
		    table-layout: fixed;
            width: 100%;
		}
		.tab-select-outer {
            padding-left: 15px;
        }
        .center {
          margin: auto;
          width: 60%;
          padding: 10px;
        }