.show-tb-sm {
	display: none;
}

.show-sm {
	display: none;
}

@media only screen and (max-width: 690px) {
	h1 {
		font-size: 24px !important;
	}

	p {
		font-size: 14px !important;
	}

	.space-padding {
		padding: 0px;
	}

	.third-cont-two {
		border: 0px solid;
	}

	h5.mgb-2 {
		font-size: 16px;
		font-weight: 300;
	}

	body.lite-theme .second-cont {
		background-color: #e1e1e1;
	}

	body.lite-theme .fourth-cont-six {
		background-color: #e1e1e1;
	}

	body.lite-theme .fourth-cont-eight {
		background-color: #e1e1e1;
	}

	body.lite-theme .fourth-cont-nine {
		background-color: #e1e1e1;
	}

	body.lite-theme .fourth-cont-eleven {
		background-color: #e1e1e1;
	}

	.bs-example {
		margin: 20px;
		padding: 0px 0px !important;
	}

	.main-h1-text {
		padding-bottom: 20px
	}

	.btn-primary {
		padding: 6px 25px;
		font-size: 14px
	}

	.third-cont-h {

		font-size: 19px;
	}

	.third-cont-five {
		font-size: 20px;
	}

	.why-choose-bg .container:after {
		display: none;
	}

	body.lite-theme .main-bg {
		background-position: center center;
	}

	h2 {
		font-size: 22px !important;
	}

	.col-lg-12.col-md-12.powered-ico {
		position: relative;
		top: unset;
		right: unset;
	}

	.eighth-cont-two {
		font-weight: 400;
		padding: 0px 0px 34px 17px;
		text-transform: uppercase;
		font-size: 19px !important;
	}

	.ninth-cont {
		text-align: center;
	}

	.ninth-ul {

		font-size: 14px;
	}

	.ninth-cont h5 {
		font-size: 16px;
	}

	img.footer-logo {
		width: 100% !important;
	}

	.market-pg-sec-4:after {
		display: none;
	}

	.market-sec-2 {
		text-align: center;
		padding-bottom: 15px;
	}

	.b-r-1 {
		width: 100%;
	}

	.b-r-2 {
		width: 100%;
	}

	.b-r-3 {
		width: 100%;
	}

	.box-main {
		padding: 0px;
		display: block;
	}

	.show-tb-lg {
		display: none;
	}

	.show-tb-sm {
		display: block;
	}

	.sty-three {
		height: 1150px;
	}

	.box-three {
		width: 100%;
		margin-left: 0px;
	}

	.box-two {
		width: 100%;
		margin-left: 0px;
	}

	.fourth-cont-nine {
		width: 50%;
	}

	.fourth-cont-eleven {
		width: 50%;
		padding-left: 0px;
	}

	.sixth-cont-four {
		padding: 30px 0px;
	}

	.seventh-cont-six {
		padding: 55px 0px 5px 0px;
		text-align: center;
	}

	.fifth-cont-four {
		padding: 20px;
	}

	img.seventh-cont-five {
		width: 100%;
	}

	.fourth-cont-eight p span {
		font-size: 10px;
	}

	.fourth-cont-eight p {
		font-size: 12px !important;
	}

	.fourth-cont-nine p {
		font-size: 12px !important;
	}

	.eighth-cont-three {
		width: 100px;
	}

	/* Switch button Mobile */
	.hide-sm {
		display: none;
	}

	.show-sm {
		display: block;
	}

	/* Switch button Mobile */
	/* Navigation */

	.navbar-nav.ml-auto {
		margin-left: 10px !important;
	}

	i.fa.fa-arrow-up {
		float: left;
		padding-right: 10px;
	}

	span.navbar-toggler-icon:focus {
		border-color: transparent;
		outline: 0px;
	}

	button.navbar-toggler {
		outline: 0px;
	}

	.pd-left {
		padding-left: 0px;
	}

	i.fa.fa-volume-up {
		padding-right: 10px;
	}

	.sm-font {
		font-size: 12px !important;
		text-align: left !important;
	}

	input.bg-transparent {
		width: 100%;
	}

	.input-group-text.bg-transparent.search-field {
		width: 100%;
	}

	button.navbar-toggler.collapsed {
		border-color: transparent;
	}

	/* Navigation End */

	/* Pricing Page Start */
	/*.lite-theme .interest-rates-bg{background-size: 200px 200px !important;background-position: right 5px top 100% !important;}
.interest-rates-bg{background-size: 200px 200px !important;background-position: right 5px top 100% !important;}
.financial-schedule-bg{background-size: 200px 200px !important;background-position: right 5px top 100% !important;}
.lite-theme .financial-schedule-bg{background-size: 200px 200px !important;background-position: right 5px top 100% !important;}*/

	.interest-rates-h1-text {
		padding-top: 20px;
	}

	.fees-charged-h1-text {
		padding-top: 20px;
	}

	td.border-top-0.td-width-15.td-pd-top {
		font-size: 12px;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}

	td.border-top-0.td-width-30 {
		font-size: 12px;
	}

	th.border-0.td-width-30 {
		font-size: 12px;
		padding: .05rem;
	}

	th.border-0.td-width-15 {
		font-size: 12px;
		padding: .05rem;
	}

	.td-width-30 {
		width: 23% !important;
	}

	td.border-top-0.td-width-15 {
		font-size: 12px;
		padding: .50rem;
	}

	/* Pricing Page End */
}


/*Pricing Image*/
@media screen and (max-width: 370px) and (min-width: 340px) {
	.stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1460px !important;
	}

	.lite-theme .stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1460px !important;
	}
}

@media screen and (max-width: 396px) and (min-width: 371px) {
	.stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1430px !important;
	}

	.lite-theme .stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1430px !important;
	}
}

@media screen and (max-width: 442px) and (min-width: 397px) {
	.stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1380px !important;
	}

	.lite-theme .stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1380px !important;
	}
}

@media screen and (max-width: 546px) and (min-width: 443px) {
	.stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1330px !important;
	}

	.lite-theme .stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1330px !important;
	}
}

@media screen and (max-width: 600px) and (min-width: 547px) {
	.stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1245px !important;
	}

	.lite-theme .stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1245px !important;
	}
}

@media screen and (max-width: 690px) and (min-width: 601px) {
	.stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1200px !important;
	}

	.lite-theme .stk-trnsf-bg {
		background-size: 200px 200px !important;
		background-position: right -85px top 1200px !important;
	}
}

/*Pricing Image End*/

/* Market Tables Responsive */
@media only screen and (max-width: 1000px),
(min-device-width: 1000px) and (max-device-width: 1000px) {
	.box-main {
		padding: 10px 5px !important;
		;
	}

	.box-one-one {
		padding: 20px 15px;
	}

	.box-three {
		margin-left: 15px;
		padding: 20px 10px;
		height: 46%;
	}

	.box-two {
		padding: 20px 10px;
	}

	.box-one {
		padding: 20px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.market-pg-sec-4:after {
		display: none;
	}

	.show-tb-lg {
		display: none;
	}

	.show-tb-sm {
		display: block;
	}

	/* Force table to not be like tables anymore */
	.show-tb-sm,
	.sm-resp-thead,
	.sm-resp-tbody,
	.sm-resp-th,
	.sm-resp-td,
	.sm-resp-td-1,
	.sm-resp-tr,
	.sm-resp-tr-1 {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.sm-resp-thead .sm-resp-tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.sm-resp-tr-1 {
		margin: 0 0 1rem 0;
		border-bottom: 1px solid #00fff61f;
	}

	.sm-resp-tr-1:nth-child(odd) {
		background: #00fff61f;
	}

	.sm-resp-td-1,
	.sm-resp-td {
		/* Behave  like a "row" */
		border: none;
		/*border-bottom: 1px solid #eee;*/
		border-bottom: 1px solid #00fff61f;
		position: relative;
		padding-left: 50%;
	}

	.sm-resp-td-1:before,
	.sm-resp-td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
	.sm-resp-td:nth-of-type(1):before {
		content: "Name";
	}

	.sm-resp-td:nth-of-type(2):before {
		content: "Offering Price";
	}

	.sm-resp-td:nth-of-type(3):before {
		content: "Offering Shares";
	}

	.sm-resp-td:nth-of-type(4):before {
		content: "Date";
	}

	.sm-resp-td-1:nth-of-type(1):before {
		content: "Pairs";
	}

	.sm-resp-td-1:nth-of-type(2):before {
		content: "Latest Price";
	}

	.sm-resp-td-1:nth-of-type(3):before {
		content: "24H Change";
	}

	.sm-resp-td-1:nth-of-type(4):before {
		content: "24H High";
	}

	.sm-resp-td-1:nth-of-type(5):before {
		content: "24H Low";
	}

	.sm-resp-td-1:nth-of-type(6):before {
		content: "24H Vol";
	}
}

/* Market Tables Responsive End*/
/* Main Navigation */
@media screen and (max-width: 1200px) and (min-width: 768px) {
	.bs-example {
		margin: 20px 0px;
		padding: 0px 20px;
	}

	a.navbar-brand {
		padding-left: 15px;
	}

	a.nav-item.active.nav-link.nav-a-margin {
		margin: 0px;
		font-size: 14px;
	}

	a.nav-item.nav-link.nav-a-margin {
		margin: 0px;
		font-size: 14px;
	}

	.search-field {
		width: 100%;
	}

	input.bg-transparent {
		width: 100%;
	}

	span.input-group-append {
		padding-right: 0px;
	}

	.navbar-dark .navbar-nav .nav-link {
		font-size: 14px;
	}

}

/* Main Navigation End */