.pricing-head-bg {
    background-color: #000c13;
}
.td-width-30{
    width: 30% !important;
}
.td-width-15{
    width: 15% !important;
    text-align: left;
}
.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #00ffff;
}
.hover-7:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #00ffff;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s;
}
.hover-7:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #00ffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.hover-7:hover:before {
  transform: scaleX(1);
  text-decoration:none;
}
.hover-7:hover:after {
  transform: scaleX(1);
  text-decoration:none;
}
.hover-7:hover {
  text-decoration:none;
  color: #ffffff;
}
.learn-more{color: #00ffff;}
.learn-more:hover{color: #ffffff;}
.financial-schedule-bg {
    background-image: url('../img/financial-fee-schedule-img.png');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: auto;
    background-color: #000c13;
    background-position: right 20px top 40%;
}
.interest-rates-bg {
    background-image: url(../img/interest-rates-img.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: auto;
    background-color: #00121e;
    background-position: right 5px top 395px;
}
.fees-charged-bg {
    /*background-image: url(../img/interest-rates-img.png);*/
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: auto;
    background-color: #000c13;
    background-position: right 5px top 395px;
}
.pricing-h1-text {
    text-transform: uppercase;
    color: white;
}
.pricing-p1-text , .pricing-p2-text {
    color: white;
    font-size: 20px;
}
.open-account {
    background-color: #00ffff !important;
    border-radius: 0px;
    color: #002b4b !important;
    border-color: #00ffff !important;
    padding: 8px 10px;
    font-size: 18px;
}
.pricing-h1-text{
    color:#00fff6;
}
.interest-rates-p1-text {
    color: #fff;
    font-size: 20px;
    padding-bottom:20px;
}
.interest-rates-p2-text {
    color: #fff;
    font-size: 20px;
    padding-bottom:10px;
}
.interest-rates-p3-text {
    color: #fff;
    font-size: 20px;
    padding-bottom:10px;
}
.interest-rates-h1-text {
    color: #00fff6;
}
.table.interest-rates-table {
    color: #fff;
}
.fees-charged-table {
    color: #fff;
}
.space-padding-four {
    padding: 100px 0;
}
.fees-charged-h1-text {
    color: #00fff6;
    padding-bottom: 10px;
}
.fees-charged-p1-text {
    color: #fff;
    font-size: 20px;
    padding-bottom:20px;
}
.fees-charged-p2-text{font-size: 20px;;color:#fff;margin-bottom: 5px;}
.fees-charged-p3-text{font-size: 20px;;color:#fff;margin-bottom: 5px;}
.fees-charged-p4-text{font-size: 20px;;color:#fff;margin-bottom: 5px;}
.fees-charged-p5-text{font-size: 20px;;color:#fff;margin-bottom: 5px;}
.fees-charged-p6-text{font-size: 20px;;color:#fff;margin-bottom: 5px;}

.lite-theme .first-pricing-cont{
    background-color:#fff;
}
.lite-theme .pricing-p1-text , .lite-theme .pricing-p2-text{
    color:#000;
}
.lite-theme , .pricing-h1-text{
    color:#00fff6;
}