<template>
<div class="trade-head-menu nav-CustomizeBoard row">
    <div class="trade-2-row row col-md-5">
        <div class="trade-head2-menu">
            <div class="head-left">
                <h1>My Trading </h1>
            </div>
            <!--Navigation End-->
            <div class="head-right">
                <ul class="head-right-links">
                    <li class="" style="padding-bottom:25px;">
                        <div class="img_tooltip">
                            <a href="#">
                                <img width="18px" height="auto" src="/assets/img/ico-7.png" />
                                <!-- <span class="img_tooltiptext">New widget</span> -->
                                <div class="widget-dropdown-dv">
                                    <ul class="cb-widget-dropdown">
                                        <li v-for="widget in widgets" :key="widget.id" @click.prevent.stop="addWidget(widget.id)">
                                            <a href="javascript::void(0)">
                                                {{widget.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav-CustomizeBoard-d-mode col-md-2">
        <ul class="head-right-links">
            <li class="">
                <div class="img_tooltip" id="nightBtn" v-on:click="addClassFunc('remove')">
                    <inertia-link href="#">
                        <i aria-hidden="true" class="fa fa-moon-o"></i>
                        <span class="img_tooltiptext">Dark Mode</span>
                    </inertia-link>
                </div>
            </li>
            <li class="">
                <div class="img_tooltip" id="dayBtn" v-on:click="addClassFunc('add')">
                    <inertia-link href="#">
                        <i aria-hidden="true" class="fa fa-sun-o"></i>
                        <span class="img_tooltiptext">Light Mode</span>
                    </inertia-link>
                </div>
            </li>
        </ul>
    </div>

    <div class="menu-right col-md-5" style="text-align: right !important;">
        <div class="navbar navbar-expand-md navbar-white mb-4 div-navbar d-inline-block" role="navigation">
            <form class="mt-2 mt-md-0 ">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <input class="form-control mr-sm-2 search-field" type="text" placeholder="Search" aria-label="Search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </li>
                    <li class="nav-items">
                        <a href="https://vtrader.planets01.com/faq" class="">HELP</a>
                    </li>
                    <li class="nav-items">
                        <a href="#" class="">BALANCE</a>
                    </li>
                    <li class="nav-items">
                        <!-- <a href="#" class=""><i class="fa fa-user" aria-hidden="true"></i></a> -->
                        <div class="dropdown">
                            <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <a href="/profile" class="dropdown-item">
                                    <span class="img_tooltiptext">Profile</span>
                                </a>
                                <form action="/logout" method="POST">
                                    <input type="hidden" name="_token" v-bind:value="csrf">
                                    <button class="dropdown-item" type="submit">Logout</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>

</div>
</template>

<script>
export default {
    props: {
        activePage: String,
        widgets: Array,
    },
    data() {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },
    methods: {
        addWidget: function (widgetId) {
            let _this = this
            let boardId = _this.$store.state.activeBoard.id
            axios.post('/api/addWidget', {
                    "widgetId": widgetId,
                    "boardId": boardId
                })
                .then(function (response) {
                    _this.$store.commit("addWidget", response.data)
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        addClassFunc: function (status) {
            if (status == "add") {

                axios.post('/api/userTheme', {

                        "theme": "lite-theme"
                    })
                    .then(function (response) {
                        if (document.body.classList.contains('lite-theme')) {

                        } else {
                            document.body.className += ' lite-theme';
                            document.querySelector("i.fa-sun-o").style.color = "yellow";
                            document.querySelector("#dayBtn").style.background = "black";
                            document.querySelector("i.fa-moon-o").style.color = "#000";
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            } else if (status == "remove") {

                axios.post('/api/userTheme', {
                        "theme": null
                    })
                    .then(function (response) {

                        document.body.className = document.body.className.replace(" lite-theme", "");
                        document.querySelector("i.fa-moon-o").style.color = "#fff";
                        document.querySelector("i.fa-sun-o").style.color = "#00ada2";
                        document.querySelector("#dayBtn").style.background = "transparent";

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
}
</script>

<style scoped>
button#dropdownMenuButton {
    border-radius: 50%;
    background: transparent;
    border: transparent;
}

.dropdown-menu.show {
    background: #000c13;
    border: 2px solid #00ada2;
    border-radius: 10px;
}

li.nav-items a:hover,
li.nav-items button:hover {
    color: #42fff6 !important;
    font-weight: 600 !important;
    text-decoration: none;
    background-color: transparent;
}
</style>
