<template>
    <div class="trade-1-col-left" id="changeClr" v-on:click.prevent>
        <div class="logo-trade-pg"><a href=""><img src="/assets/img/logo.png"> </a></div>

        <div v-for="navlink in links" v-bind:key="navlink.key" class="side-nav-icon sidebar-icon_tooltip">
            <!-- route('todo.edit', todo.id) -->
            <inertia-link :href="navlink.link" v-on:click="changeActive(navlink.key)" v-bind:class="activePage==navlink.text?'active':''">
                <i :class="navlink.icon" aria-hidden="true"></i>
            </inertia-link>
            <span class="sidebar-icon_tooltiptext">{{navlink.text}}</span>
        </div>
        <!-- <div class="side-nav-icon sidebar-icon_tooltip" id="nightBtn" v-on:click="addClassFunc('remove')">
            <a href="http://127.0.0.1:8000/board#" class="">
                <i aria-hidden="true" class="fa fa-moon-o"></i>
            </a> 
            <span class="sidebar-icon_tooltiptext">Dark Mode</span>
        </div>
        <div class="side-nav-icon sidebar-icon_tooltip" id="dayBtn" v-on:click="addClassFunc('add')">
            <a href="http://127.0.0.1:8000/board#" class="">
                <i aria-hidden="true" class="fa fa-sun-o"></i>
            </a> 
            <span class="sidebar-icon_tooltiptext">Light Mode</span>
        </div> -->
    </div>
</template>
<script>

    export default {
        components: {

        },
        data: function() {
           return {
            links: [
                { key:1,text: 'Watchlist' ,icon: 'fa fa-star',active:true ,link:"/watchlist"},
                { key:2,text: 'Chart' ,icon: 'fa fa-line-chart',active:false ,link:""},
                { key:3,text: 'Trade' ,icon: 'fa fa-gavel',active:false ,link:"/customizeBoard"},
                { key:4,text: 'Account' ,icon: 'fa fa-folder-open',active:false ,link:"/account"},
                { key:5,text: 'Settings' ,icon: 'fa fa-cog',active:false ,link:"#"},
            ]
           } 
        },
        props: {activePage: String},
        computed: {
            
        },
        methods: {
            changeActive: function (key) {
                this.links.forEach(element => {
                    element.active = false;
                });
                this.links[key].active = true;
            },
            addClassFunc: function (status) {
                if(status=="add"){
                    document.body.className += ' lite-theme';
                    document.querySelector("i.fa-sun-o").style.color = "yellow";
                    document.querySelector("#dayBtn").style.background = "black";
                    document.querySelector("i.fa-moon-o").style.color = "#000";
                }else if(status=="remove"){
                    document.body.className = document.body.className.replace(" lite-theme","");
                    document.querySelector("i.fa-moon-o").style.color = "#fff";
                    document.querySelector("i.fa-sun-o").style.color = "#00ada2";
                    document.querySelector("#dayBtn").style.background = "transparent";
                }
            }
        }
    }


</script>
