<template>
<div id="app" v-cloak>
    <h2>Multi Tab</h2>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li v-for="tab of tabs" :key="tab.id" class="nav-item">
                    <a v-bind:class="{'nav-link d-flex align-items-center tab': true, 'active': (tab.id == activeTab.id) }" href="#" v-on:click="activateTab(tab)">
                        <div>
                            <span class="mr-5" v-show="!tab.editMode">{{tab.title}}</span>
                            <input v-bind:id="tab.id" class="form-control form-bg" type="text" v-show="tab.editMode" placeholder="Tab Name" v-model="tab.title">
                        </div>
                        <div>
                            <button class="icon-btn" v-show="!tab.editMode" v-on:click="editTabName(tab)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button class="icon-btn" v-show="tab.editMode" v-on:click="acceptEditTabName(tab)">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button class="icon-btn" v-on:click="deleteTab(tab)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center tab add-btn" href="#">
                        <button class="icon-btn" v-on:click="addNewTab()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </a>
                </li>
            </ul>
            <div class="card tab-contents">
                <div class="card-block">
                    <div class="card-title">
                        <!-- {{activeTab.content.header}} -->
                        <h1>Tab header</h1>
                    </div>
                    <div class="card-text">
                        <!-- {{activeTab.content.content}} -->
                        <p>Tab content</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>

export default {
    name: 'app',
    components: { },
    data() {
        return {
            activeTab: [],
            tabs: [{
                id: 1,
                title: 'My tab title',
                content: {
                    header: 'Tab 1 Header',
                    content: 'Tab 1 Content: Lorem ipsum dolor sit amet, consectetur adipiscing elit'
                },
                editMode: false
            }]
        }
    },
    beforeMount() {
        this.activeTab = this.tabs[0];
    },
    methods: {
        activateTab: function (tab) {
            this.activeTab = tab;
        },
        addNewTab: function () {
            let newId = this.tabs[this.tabs.length - 1].id + 1;
            this.tabs.push({
                id: newId,
                title: `Tab ${newId}`,
                content: {
                    header: 'New Tab Header',
                    content: 'New tab contents'
                },
                editMode: false
            });
            this.activateTab(this.tabs[this.tabs.length - 1]);
        },
        editTabName: function (tab) {
            tab.editMode = true;
        },
        acceptEditTabName: function (tab) {
            tab.editMode = false;
        },
        deleteTab: function (tab) {
            this.tabs = this.tabs.filter(t => t.id != tab.id);
            if (this.tabs.length == 0) {
                $('.card-block .card-title').innerHTML = "";
                $('.card-block .card-text').innerHTML = "";
            }
        }
    }
}
</script>

<style scoped>
    .form-bg {
        background-color: #00000021;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        background-color: #00ada2;
    }

    ul.nav-tabs {
        margin-top: 12px;
    }

    .card.tab-contents {
        border-top: none;
        border-radius: 0;
    }

    .nav-link.tab {
        border-radius: 0;
        padding-right: 8px;
    }

    .nav-link.tab span {
        transition: 0.8s;
        color: #fff;
        font-size: 14px;
        opacity: 0.54;
    }

    .nav-link.tab span:hover {
        color: #fff;
    }

    .nav-link.tab.active span {
        opacity: 1;
    }

    .icon-btn {
        text-decoration: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 0.875rem;
        padding: 0 5px;
    }

    .icon-btn .fa {
        opacity: 0.54;
        transition: 0.8s;
    }

    .icon-btn .fa:hover {
        color: #c0392b;

    }

    .nav-link.tab.add-btn {
        padding-left: 8px;
    }

    .nav-link.tab.add-btn.icon-btn {
        color: #2980b9;
        margin: 0;
    }
</style>
