<template>
<div id="app">
    <VueDragResize :isActive="true" :w="1400" :h="321" :x="92" :y="172" :z="1" :isResizable="false">
        <div class="row custom-row" style="color: rgb(0, 199, 185);">
            <table class="table">
                <thead style="background-color: rgb(0, 22, 35);">
                    <tr>
                        <th>No</th>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Change</th>
                        <th>%Change</th>
                        <th>Open</th>
                        <th>Prev Close</th>
                        <th>High</th>
                        <th>Low</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>IXIC</td>
                        <td>NASDAQ</td>
                        <td class="green">+310.99</td>
                        <td class="red">-2.4</td>
                        <td>12.90</td>
                        <td>12980.15</td>
                        <td>13,000</td>
                        <td>12,599.23</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>DIA</td>
                        <td>SPDA Doe Jones Industrial Average</td>
                        <td class="green">+3.99</td>
                        <td class="green">+3.2</td>
                        <td>12.90</td>
                        <td>12980.15</td>
                        <td>13,000</td>
                        <td>12,599.23</td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>SPY</td>
                        <td>SPDR S&P</td>
                        <td class="green">+2.5</td>
                        <td class="red">-4.9</td>
                        <td>12.90</td>
                        <td>12980.15</td>
                        <td>13,000</td>
                        <td>12,599.23</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>AAPL</td>
                        <td>Apple</td>
                        <td class="red">-84.2</td>
                        <td class="red">-5.9</td>
                        <td>12.90</td>
                        <td>12980.15</td>
                        <td>13,000</td>
                        <td>12,599.23</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>GOOG</td>
                        <td>Alphabet</td>
                        <td class="green">+2.5</td>
                        <td class="red">-5.91</td>
                        <td>12.90</td>
                        <td>12980.15</td>
                        <td>13,000</td>
                        <td>12,599.23</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </VueDragResize>

    <VueDragResize :isActive="true" :w="690" :h="320" :x="92" :y="530" :z="1" :isResizable="false" class="">
        <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px;">
            <div class="col-md-6">
                <h4 class="h4-head">News</h4>
            </div>
            <div class="col-md-6" style="padding-top: 7px;text-align: right;">
                <a class="pinBtn" @click.prevent.stop="pinToPosition($event, 'tagId-'+widget.id)">
                    <i class="fa fa-thumb-tack" style="width: 20px;float: right;"></i>
                </a>
                <a class="resizeBtn" @click.prevent.stop="ableToResize($event, 'tagId-'+widget.id)">
                    <i class="fa fa-expand active" style="width: 20px;float: right;"></i>
                </a>
            </div>
        </div>
        <div class="drag-inner">
            <table class="table">

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>42m ago AAPL</td>
                        <td>Is mixed reality the frontier for Big Tech</td>
                    </tr>
                    <tr>
                        <td>42m ago AAPL</td>
                        <td>Is mixed reality the frontier for Big Tech</td>
                    </tr>
                    <tr>
                        <td>42m ago AAPL</td>
                        <td>Is mixed reality the frontier for Big Tech</td>
                    </tr>
                    <tr>
                        <td>42m ago AAPL</td>
                        <td>Is mixed reality the frontier for Big Tech</td>
                    </tr>
                    <tr>
                        <td>42m ago AAPL</td>
                        <td>Is mixed reality the frontier for Big Tech</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </VueDragResize>
    <VueDragResize :isActive="true" :w="665" :h="320" :x="820" :y="530" :z="1" :isResizable="false" class="">
        <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px;">
            <div class="col-md-6">
                <h4 class="h4-head">Corporate Actions</h4>
            </div>
            <div class="col-md-6" style="padding-top: 7px;text-align: right;">
                <a class="pinBtn" @click.prevent.stop="pinToPosition($event, 'tagId-'+widget.id)">
                    <i class="fa fa-thumb-tack" style="width: 20px;float: right;"></i>
                </a>
                <a class="resizeBtn" @click.prevent.stop="ableToResize($event, 'tagId-'+widget.id)">
                    <i class="fa fa-expand active" style="width: 20px;float: right;"></i>
                </a>
            </div>
        </div>
        <div class="drag-inner">
            <table class="table">
                <thead>
                    <tr>
                        <td style="color:#a8a8a8;">Name</td>
                        <td style="color:#a8a8a8;">Symbol</td>
                        <td style="color:#a8a8a8;">Type</td>
                        <td style="color:#a8a8a8;">Time</td>
                    </tr>
                </thead>
            </table>
            <div style="text-align:center;">
                <p>Please <a href="https://www.google.com/" target="_blank" class="a-style">Login</a> to Check corporate actions</p>
            </div>
        </div>
    </VueDragResize>

    <!--Key Statistics Start -->
    <VueDragResize :isActive="true" :w="690" :h="320" :x="92" :y="870" :z="1" :isResizable="false" class="">
        <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px;">
            <div class="col-md-6">
                <h4 class="h4-head">Key Statistics</h4>
            </div>
            <div class="col-md-6" style="padding-top: 7px;text-align: right;">
                <a class="pinBtn" @click.prevent.stop="pinToPosition($event, 'tagId-'+widget.id)">
                    <i class="fa fa-thumb-tack" style="width: 20px;float: right;"></i>
                </a>
                <a class="resizeBtn" @click.prevent.stop="ableToResize($event, 'tagId-'+widget.id)">
                    <i class="fa fa-expand active" style="width: 20px;float: right;"></i>
                </a>
            </div>
        </div>
        <div class="drag-inner">
            <table class="table">
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Open</td>
                        <td>12,873.39</td>
                        <td>Prev Close</td>
                        <td>13,052.90</td>
                    </tr>
                    <tr>
                        <td>High</td>
                        <td>12,943.58</td>
                        <td>Low</td>
                        <td>12,778.13</td>
                    </tr>
                    <tr>
                        <td>Volume</td>
                        <td>184.65M</td>
                        <td>Avg Vol(3M)</td>
                        <td>212.30M</td>
                    </tr>
                    <tr>
                        <td>52k Wk High</td>
                        <td>14,879.78</td>
                        <td>52 Wk Low</td>
                        <td>6,771.91</td>
                    </tr>
                    <tr>
                        <td>Turn over</td>
                        <td>--</td>
                        <td>% Range</td>
                        <td>12.27</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </VueDragResize>
    <!--Key Statistics End -->

    <!--Quick Chart Start -->
    <VueDragResize :isActive="true" :w="665" :h="320" :x="820" :y="870" :z="1" :isResizable="false" class="">
        <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px;">
            <div class="col-md-6">
                <h4 class="h4-head">Quick Chart</h4>
            </div>
            <div class="col-md-6" style="padding-top: 7px;text-align: right;">
                <a class="pinBtn" @click.prevent.stop="pinToPosition($event, 'tagId-'+widget.id)">
                    <i class="fa fa-thumb-tack" style="width: 20px;float: right;"></i>
                </a>
                <a class="resizeBtn" @click.prevent.stop="ableToResize($event, 'tagId-'+widget.id)">
                    <i class="fa fa-expand active" style="width: 20px;float: right;"></i>
                </a>
            </div>
        </div>
        <div class="drag-inner">
            <div style="padding-top:15px;">
                <img src="assets/img/graph-one.png" style="width:80%;margin: 0 auto;" />
            </div>
        </div>
    </VueDragResize>
    <!--Quick Chart End -->
    <VueDragResize :isActive="true" :w="1400" :h="321" :x="92" :y="1214" :z="1" :isResizable="false">
        <div class="row custom-row" style="color: rgb(0, 199, 185);">
            <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px; width:100%;">
            <div class="col-md-6">
                <h4 class="h4-head">Orders</h4>
            </div>
            <div class="col-md-6" style="padding-top: 7px;text-align: right;">
                <a class="resizeBtn" @click.prevent.stop="ableToResize($event, 'tagId-'+widget.id)">
                    <i class="fa fa-close active" style="width: 20px;float: right;"></i>
                </a>
                <a class="pinBtn" @click.prevent.stop="pinToPosition($event, 'tagId-'+widget.id)">
                    <i class="fa fa-thumb-tack" style="width: 20px;float: right;"></i>
                </a>
                <a class="resizeBtn" @click.prevent.stop="ableToResize($event, 'tagId-'+widget.id)">
                    <i class="fa fa-expand active" style="width: 20px;float: right;"></i>
                </a>
                
            </div>
        </div>
            <div style="overflow-x:auto;">
                <table>
                    <tr>
                    <th>Symbol</th>
                    <th>OrderID</th>
                    <th>Account</th>
                    <th>Side</th>
                    <th>Order Type</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Leaves</th>
                    <th>Exec Qty</th>
                    <th>Avg Px</th>
                    <th>Status</th>
                    <th>TIF</th>
                    <th>Route</th>
                    <th>Time</th>
                    <th>External..</th>
                    <th>Text</th>
                    </tr>
                    <tr>
                    <td class="order-symbol">Googl</td>
                    <td class="order-id">128</td>
                    <td class="trade-acc">Account2</td>
                    <td class="order-side order-buy">buy</td>
                    <td class="order-type">LMT</td>
                    <td class="order-price">152.00</td>
                    <td class="order-qty">1,000</td>
                    <td class="order-leaves">0</td>
                    <td class="order-exec-qty">1,000</td>
                    <td class="order-avgpx">50.85</td>
                    <td class="order-status order-filled"><i></i>Filled</td>
                    <td class="order-tif">day</td>
                    <td class="order-route">arca</td>
                    <td class="order-time">4/6/2021 7:05:25 AM</td>
                    <td class="order-external"></td>
                    <td class="order-text">jawads testing..</td>
                    </tr>
                    <tr>
                    <td class="order-symbol">Imb</td>
                    <td class="order-id">158</td>
                    <td class="trade-acc">Account2</td>
                    <td class="order-side order-sell">sell</td>
                    <td class="order-type">LMT</td>
                    <td class="order-price">152.00</td>
                    <td class="order-qty">1,000</td>
                    <td class="order-leaves">0</td>
                    <td class="order-exec-qty">1,000</td>
                    <td class="order-avgpx">50.85</td>
                    <td class="order-status order-filled"><i></i>Filled</td>
                    <td class="order-tif">day</td>
                    <td class="order-route">arca</td>
                    <td class="order-time">4/6/2021 7:05:25 AM</td>
                    <td class="order-external"></td>
                    <td class="order-text">jawads testing..</td>
                    </tr>
                    <tr>
                    <td class="order-symbol">msft</td>
                    <td class="order-id">278</td>
                    <td class="trade-acc">Account2</td>
                    <td class="order-side order-sell">sell</td>
                    <td class="order-type">LMT</td>
                    <td class="order-price">152.00</td>
                    <td class="order-qty">2,000</td>
                    <td class="order-leaves">0</td>
                    <td class="order-exec-qty">1,000</td>
                    <td class="order-avgpx">50.85</td>
                    <td class="order-status order-pending"><i></i>Pending</td>
                    <td class="order-tif">day</td>
                    <td class="order-route">arca</td>
                    <td class="order-time">4/6/2021 7:05:25 AM</td>
                    <td class="order-external"></td>
                    <td class="order-text">jawads testing..</td>
                    </tr>

                </table>
            </div>
        </div>
    </VueDragResize>
    <VueDragResize :isActive="true" :w="1400" :h="321" :x="92" :y="1555" :z="1" :isResizable="false">
        <div class="row custom-row" style="color: rgb(0, 199, 185);">
            <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px; width:100%;">
            <div class="col-md-6">
                <h4 class="h4-head">Execution Blotter</h4>
            </div>
            <div class="col-md-6" style="padding-top: 7px;text-align: right;">
                <a class="resizeBtn" @click.prevent.stop="ableToResize($event, 'tagId-'+widget.id)">
                    <i class="fa fa-close active" style="width: 20px;float: right;"></i>
                </a>
                <a class="pinBtn" @click.prevent.stop="pinToPosition($event, 'tagId-'+widget.id)">
                    <i class="fa fa-thumb-tack" style="width: 20px;float: right;"></i>
                </a>
                <a class="resizeBtn" @click.prevent.stop="ableToResize($event, 'tagId-'+widget.id)">
                    <i class="fa fa-expand active" style="width: 20px;float: right;"></i>
                </a>
                
            </div>
        </div>
            <div style="overflow-x:auto; width:100%;">
                <table>
                    <tr>
                    <th>Symbol</th>
                    <th>Account</th>
                    <th>Side</th>
                    <th>OrderID</th>
                    <th>Ord Qty</th>
                    <th>Fill Qty</th>
                    <th>Fill Px</th>
                    <th>Avg Px</th>
                    <th>Exec.ID</th>
                    <th>Ref. Id</th>
                    <th>Exec Type</th>
                    <th>Route</th>
                    <th>Time</th>
                    </tr>
                    <tr>
                    <td class="order-symbol">Googl</td>
                    <td class="trade-acc">Account2</td>
                    <td class="order-side order-buy">bought</td>
                    <td class="order-type orderid-exec">10902</td>
                    <td class="order-qty">1,000</td>
                    <td class="fil-qty">100</td>
                    <td class="fil-px">99.40</td>
                    <td class="avgpx">99.39</td>
                    <td class="exec-id">10</td>
                    <td class="exec-ref-id"></td>
                    <td class="exc-type">New</td>
                    <td class="exec-route">ARCA</td>
                    <td class="exec-time">4/6/2021 7:05:25 AM</td>
                    
                    </tr>
                    <tr>
                    <td class="order-symbol">Googl</td>
                    <td class="trade-acc">Account2</td>
                    <td class="order-side order-buy">bought</td>
                    <td class="order-type orderid-exec">10902</td>
                    <td class="order-qty">1,000</td>
                    <td class="fil-qty">100</td>
                    <td class="fil-px">99.40</td>
                    <td class="avgpx">99.39</td>
                    <td class="exec-id">10</td>
                    <td class="exec-ref-id"></td>
                    <td class="exc-type">New</td>
                    <td class="exec-route">ARCA</td>
                    <td class="exec-time">4/6/2021 7:05:25 AM</td>
                    </tr>
                    <tr>
                    <td class="order-symbol">Googl</td>
                    <td class="trade-acc">Account2</td>
                    <td class="order-side order-buy">bought</td>
                    <td class="order-type orderid-exec">10902</td>
                    <td class="order-qty">1,000</td>
                    <td class="fil-qty">100</td>
                    <td class="fil-px">99.40</td>
                    <td class="avgpx">99.39</td>
                    <td class="exec-id">10</td>
                    <td class="exec-ref-id"></td>
                    <td class="exc-type">New</td>
                    <td class="exec-route">ARCA</td>
                    <td class="exec-time">4/6/2021 7:05:25 AM</td>
                    </tr>

                </table>
            </div>
        </div>
    </VueDragResize>
    <VueDragResize :isActive="true" :w="1400" :h="321" :x="92" :y="1895" :z="1" :isResizable="false">
        <div class="row custom-row" style="color: rgb(0, 199, 185);">
            <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px; width:100%;">
            <div class="col-md-6">
                <h4 class="h4-head">Open Order</h4>
            </div>
            <div class="col-md-6" style="padding-top: 7px;text-align: right;">
                <a class="resizeBtn" @click.prevent.stop="ableToResize($event, 'tagId-'+widget.id)">
                    <i class="fa fa-close active" style="width: 20px;float: right;"></i>
                </a>
                <a class="pinBtn" @click.prevent.stop="pinToPosition($event, 'tagId-'+widget.id)">
                    <i class="fa fa-thumb-tack" style="width: 20px;float: right;"></i>
                </a>
                <a class="resizeBtn" @click.prevent.stop="ableToResize($event, 'tagId-'+widget.id)">
                    <i class="fa fa-expand active" style="width: 20px;float: right;"></i>
                </a>
                
            </div>
        </div>
            <div style="overflow-x:auto; width:100%;">
                <table>
                    <tr>
                    <th>Symbol</th>
                    <th>Account</th>
                    <th>Side</th>
                    <th>OrderID</th>
                    <th>Ord Qty</th>
                    <th>Fill Qty</th>
                    <th>Fill Px</th>
                    <th>Avg Px</th>
                    <th>Exec.ID</th>
                    <th>Ref. Id</th>
                    <th>Exec Type</th>
                    <th>Route</th>
                    <th>Time</th>
                    </tr>
                    <tr>
                    <td class="order-symbol">Googl</td>
                    <td class="trade-acc">Account2</td>
                    <td class="order-side order-buy">bought</td>
                    <td class="order-type orderid-exec">10902</td>
                    <td class="order-qty">1,000</td>
                    <td class="fil-qty">100</td>
                    <td class="fil-px">99.40</td>
                    <td class="avgpx">99.39</td>
                    <td class="exec-id">10</td>
                    <td class="exec-ref-id"></td>
                    <td class="exc-type">New</td>
                    <td class="exec-route">ARCA</td>
                    <td class="exec-time">4/6/2021 7:05:25 AM</td>
                    
                    </tr>
                    <tr>
                    <td class="order-symbol">Googl</td>
                    <td class="trade-acc">Account2</td>
                    <td class="order-side order-buy">bought</td>
                    <td class="order-type orderid-exec">10902</td>
                    <td class="order-qty">1,000</td>
                    <td class="fil-qty">100</td>
                    <td class="fil-px">99.40</td>
                    <td class="avgpx">99.39</td>
                    <td class="exec-id">10</td>
                    <td class="exec-ref-id"></td>
                    <td class="exc-type">New</td>
                    <td class="exec-route">ARCA</td>
                    <td class="exec-time">4/6/2021 7:05:25 AM</td>
                    </tr>
                    <tr>
                    <td class="order-symbol">Googl</td>
                    <td class="trade-acc">Account2</td>
                    <td class="order-side order-buy">bought</td>
                    <td class="order-type orderid-exec">10902</td>
                    <td class="order-qty">1,000</td>
                    <td class="fil-qty">100</td>
                    <td class="fil-px">99.40</td>
                    <td class="avgpx">99.39</td>
                    <td class="exec-id">10</td>
                    <td class="exec-ref-id"></td>
                    <td class="exc-type">New</td>
                    <td class="exec-route">ARCA</td>
                    <td class="exec-time">4/6/2021 7:05:25 AM</td>
                    </tr>

                </table>
            </div>
        </div>
    </VueDragResize>
    
    <!-- <VueDragResize :isActive="true" :w="1400" :h="321" :x="92" :y="1214" :z="1" :isResizable="false">
        <div class="row custom-row" style="color: rgb(0, 199, 185);">
            <div class="tab">
                <button class="tablinks active" onclick="orderType(event, 'AllOrders')" id="defaultOpen">All Orders</button>
                <button class="tablinks" onclick="orderType(event, 'OpenOrders')">Open Orders</button>
                <button class="tablinks" onclick="orderType(event, 'Execution')">Execution</button>
                </div>

                <div id="AllOrders" class="tabcontent">
                <h3>All Order</h3>
                <p>All orders tab</p>
                </div>

                <div id="OpenOrders" class="tabcontent">
                <h3>Open Orders</h3>
                <p>Open order tabs</p> 
                </div>

                <div id="Execution" class="tabcontent">
                <h3>Excution</h3>
                <p>Execution tabs</p>
            </div>
        </div>
    </VueDragResize> -->
    
</div>

</template>


<script>
// import VueDragResize from 'vue-drag-resize';
// import Label from '../../../vendor/laravel/breeze/stubs/inertia/resources/js/Components/Label.vue';
// import Input from '../../../vendor/laravel/breeze/stubs/inertia/resources/js/Components/Input.vue';
// import Button from '../../../vendor/laravel/breeze/stubs/inertia/resources/js/Components/Button.vue';

export default {
    name: 'app',
    components: {
        // VueDragResize,
        // Label,
        // Input,
        // Button
    },
    data() {
        return {
            width: 0,
            height: 0,
            top: 0,
            left: 0
        }
    },
    methods: {
        resize(newRect) {
            this.width = newRect.width;
            this.height = newRect.height;
            this.top = newRect.top;
            this.left = newRect.left;
        }
    }
}
</script>


<style scoped>
    .a-style {
        color: #00ada2;
    }

    .table th,
    .table td {
        border-bottom: none !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border: none !important;
    }

    .table th:nth-child(1),
    .table td:nth-child(1) {
        padding-left: 50px;
    }

    .table th:last-child,
    .table td:last-child {
        padding-right: 50px;
    }

    th {
        color: #00cfc0;
    }

    .red {
        color: red;
    }

    .green {
        color: #08e008;
    }
    /* Style the tab */
tr:nth-child(even){
    background-color:rgb(242 242 242 / 7%);
}
td.order-symbol {
    color: orange;
    text-transform: uppercase;
}

td.order-side {
    text-transform: uppercase;
}

.order-buy {
    color: #05cc0c !important;
}

.order-sell {
    color: red !important;
}

table tr td.order-status.order-filled i:after {
    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #02a511;
    left:10px;
    top:11px;
    }

table tr td.order-status.order-filled{
    padding-left:35px;
    position:relative;
}
table tr td.order-status.order-pending i:after {
    content:"";
    position: absolute;
    height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 18px solid yellow;
	left:10px;
    }
td.order-status.order-pending {
	position:relative;
	padding-left:35px;
}

	



td.order-tif {
    text-transform: uppercase;
}

td.order-route {
    text-transform: uppercase;
}
.vdr.price-chart:before {
    display:none;
}

.order-place .row {
    width:100%;
    justify-content:space-between;
}
.order-place select {
    width:100%;
}
.order-place select,.order-place input{
    color: #000;
}
.order-place option{
    color: #000 !important;
}

.col-md-4.header-two-part {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-two-part h4 {
    margin-left: 5px;
    margin-right: 5px;
}

.row.data-dollars {
    margin-bottom: 30px;
}
.row.data-stocks {
    margin-bottom: 30px;
}
.order-place .col{
    padding-left:0px;
    padding-right:0px;
    max-width:48% !important;
}
.order-place .row{
    margin-left:0px;
    margin-right:0px;
}
.order-place input[type="text"]{
    width:100%;
}
form.order-place-form {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.order-place {
    border: 2px solid #4a5358;
}
.invest-in-row {
    padding-bottom: 20px;
}
.estimat-qty {
    padding-top: 20px;
}
.m-price {
    padding-top: 20px;
}
.est-cost {
    padding-top: 20px;
}
.bid-price {
    background-color: #274050;
    padding: 15px 10px !important;
}
.ask-price {
    background-color: #274050;
    padding: 15px 10px !important;
}
.lot-size {
    background-color: #00ada2;
    padding: 15px 10px;
    border-radius: 28px;
}
.bid-p-row{
    /* padding-left:10px; */
    /* padding-right:10px; */
    margin-bottom: 20px;
    margin-top: 10px;
    background: #274050;
}
.col.ask-price {
    text-align: right;
}
.col.lot-size {
    text-align: center;
}
.bid-p-row p {
    margin: 0px;
}
.buy-btn input[type="submit"] {
    width: 100%;
    padding: 10px;
    color:#fff;
    background-color:#00ada2;
}
.sell-btn input[type="submit"] {
    width: 100%;
    padding: 10px;
    color:#fff;
    background-color:#00ada2;
}
.order-t-qty {
    margin-top: 15px;
}
.lmt-price {
    margin-top: 15px;
}
.day-in-force {
    margin-top: 15px;
}
.order-place .lmt-price .col {
    max-width: 100% !important;
}
.st-loss {
    margin-top: 15px;
}

.execute-trade input[type="submit"] {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #00ada2;
}

.execute-trade {
    margin-top: 20px;
    margin-bottom: 15px;
}

.last-row .col {
    padding-bottom: 15px;
}

.bottom_form{
    display:none;
}
form.order-place-form input[type="number"] {
    width: 100%;
}
.adv-checked {
    padding-top: 15px;
    padding-bottom: 5px;
}
.aapl-custom-box h4{
    font-size: 17px;
}
</style>

