<template>
<div id="multiBoards">
    <ul class="nav nav-tabs" style="position: absolute;top: 47px;" id="ulwid">
        <li v-for="board of $store.state.userBoards.boards" :key="board.id" class="nav-item">
            <a v-bind:class="{'nav-link d-flex align-items-center tab': true, 'active': (board.id == $store.state.activeBoard.id) }" href="#" style="display: flex !important;
                justify-content: space-between; align-items:flex-start !important;">
                <span class="" v-show="!board.editMode" style="width: calc(100% - 60px);" v-on:click="activateTab(board)">{{board.title}}</span>
                <input v-bind:id="board.id" class="form-control form-bg edit-resize" type="text" v-show="board.editMode" placeholder="Tab Name" v-model="board.title" />
                <div style="position: relative;margin: 0 auto;margin-right: 0;">
                    <button class="icon-btn" v-show="!board.editMode" v-on:click="editTabName(board)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="icon-btn" v-show="board.editMode" v-on:click="acceptEditTabName(board)">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                    <button class="icon-btn" v-on:click="deleteTab(board)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center tab add-btn" href="#">
                <button class="icon-btn" v-on:click="addNewTab()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </a>
        </li>
    </ul>
    <div id="content" ref="screenShotBoard" style="position: absolute;overflow-x=auto;margin-top: 25px;">
        <VueDragResize v-for="widget, index in $store.state.activeBoard.widgets" 
            :key="widget.id" 
            :id="widget.tagId" 
            :isActive="currentDivArr['boardId-'+activeBoard.id][widget.tagId]" 
            :w="parseInt(widget.width)" 
            :h="parseInt(widget.height)" 
            :x="parseInt(widget.left)" 
            :y="parseInt(widget.top)" 
            :z="parseInt(zIndex['boardId-'+activeBoard.id][widget.tagId]?1:zIndex['boardId-'+activeBoard.id][widget.tagId])" 
            :parentW="4000" 
            :parentH="4000" 
            :parentLimitation="true" 
            :gridX="10" 
            :gridY="10" 
            :isDraggable="isDraggable['boardId-'+activeBoard.id][widget.tagId]" 
            :isResizable="isResizable['boardId-'+activeBoard.id][widget.tagId]" 
            @resizestop="reCalculate"
            @dragstop="reCalculate" 
            @activated="onActivated('boardId-'+activeBoard.id,widget.tagId)" 
            @deactivated="onDeactivated('boardId-'+activeBoard.id, widget.tagId)" 
            @resizing="rePosition" 
            @dragging="rePosition" 
            v-on:activated="reselect(widget.tagId)" 
            class="draggable div1">
            <div :id="widget.tagId+'-header'" class="row custom-row" style="cursor:move;background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px;" @mouseover="hoverDragStart($event, 'boardId-'+activeBoard.id, widget.tagId, widget.tagId+'-header')">
                <div class="col-md-6">
                    <h4 class="h4-head"> asd </h4>
                </div>
                <div class="col-md-6" style="padding-top: 7px;text-align: right;">
                    <a class="deleteBtn" @click.prevent.stop="deleteElement($event, index, widget.id)">
                        <i class="fa fa-close" style="width: 20px;float: right;"></i>
                    </a>
                    <a class="pinBtn" @click.prevent.stop="pinToPosition($event, 'boardId-'+activeBoard.id, widget.tagId)">
                        <i class="fa fa-thumb-tack" style="width: 20px;float: right;"></i>
                    </a>
                    <a class="resizeBtn" @click.prevent.stop="ableToResize($event, 'boardId-'+activeBoard.id, widget.tagId)">
                        <i class="fa fa-expand active" style="width: 20px;float: right;"></i>
                    </a>
                </div>
            </div>
            <div class="row sty-seven" style="padding: 0" @mouseover="hoverDragStop($event, 'boardId-'+activeBoard.id, widget.tagId)">
                <div class="col-md-12">
                    <div v-if="widget.widgetId==1">
                        <h1>{{widget.id}}</h1>
                    </div>
                    <div v-else-if="widget.widgetId==2">
                        <form action="#" class="order-place-form">
                            <div class="row custom-row" style="background-color: rgb(0, 22, 35);color: rgb(0, 199, 185);padding: 5px;width: 100%;">
                                <div class="col-md-4">
                                    <!-- <form> -->
                                    <select>
                                        <option>AAPL</option>
                                        <option>GOOG</option>
                                        <option>IBM</option>
                                    </select>
                                    <!-- </form> -->
                                </div>
                                <div class="col-md-8 row header-two-part aapl-custom-box">
                                    <h4 class="h4-head">130.87</h4>
                                    <h4 class="h4-head">+0.51</h4>
                                    <h4 class="h4-head">+0.39%</h4>
                                </div>
                            </div>
                            <div class="form-bottom-body">
                                <!-- <form action="#" class="order-place-form"> -->
                                <div class="row invest-in-row">
                                    <div class="col">
                                        <label>Invest in</label>
                                    </div>
                                    <div class="col">
                                        <select id="to-show-hide">
                                            <option value="Dollars" class="dlr">Dollars</option>
                                            <option value="Stocks" class="stocks">Stocks</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row data-dollars data-hide" id="Dollars">
                                    <div class="col">Amount</div>
                                    <div class="col">
                                        <input type="number" class="insert-price" />
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="row estimat-qty">
                                        <div class="col">Estimate Quantity</div>
                                        <div class="col">8.2345</div>
                                    </div>
                                </div>
                                <div class="row data-stocks data-hide" id="Stocks">
                                    <div class="col">Shares</div>
                                    <div class="col">
                                        <input type="number" class="insert-price" />
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="row m-price">
                                        <div class="col">Market Price</div>
                                        <div class="col">$70.49</div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="row est-cost">
                                        <div class="col">Estimated Cost</div>
                                        <div class="col">$7,048.46</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col buy-btn">
                                        <input type="submit" value="Buy" class="at-buy" />
                                    </div>
                                    <div class="col sell-btn">
                                        <input type="submit" value="Sell" class="at-sell" />
                                    </div>
                                </div>
                                <div style="width: 100%" class="adv-checked">
                                    <input type="checkbox" id="advanced_t" name="advanced_t" value="Advanced Trade" />
                                    <label for="advanced_t"> Advanced Trade</label><br />
                                </div>
                                <div class="bottom_form">
                                    <div class="row bid-p-row">
                                        <div class="col bid-price">
                                            <p>Bid 130.89</p>
                                        </div>
                                        <div class="col lot-size">
                                            <p>0.01</p>
                                        </div>
                                        <div class="col ask-price">
                                            <p>Ask 130.89</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col buy-btn">
                                            <input type="submit" value="Buy" class="at-buy" />
                                        </div>
                                        <div class="col sell-btn">
                                            <input type="submit" value="Sell" class="at-sell" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="row order-t-qty">
                                            <div class="col">
                                                <label>Order Type</label>
                                                <select>
                                                    <option value="LIMIT">LIMIT</option>
                                                    <option value="MARKET EXECUTION">MARKET EXECUTION</option>
                                                    <option value="SELL LIMIT">SELL LIMIT</option>
                                                    <option value="BUY LIMIT">BUY LIMIT</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label for="">Quantity</label>
                                                <input type="text" placeholder="0" />
                                            </div>
                                        </div>
                                        <div class="row lmt-price">
                                            <div class="col">
                                                <label for="">Limit Price</label>
                                                <input type="text" placeholder="130.63" />
                                            </div>
                                        </div>
                                        <div class="row day-in-force">
                                            <div class="col">
                                                <label for="">Day-in-force</label>
                                                <select name="" id="">
                                                    <option value="Day">Day</option>
                                                    <option value="Night">Night</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label for="Extended Hours">Extended Hours</label>
                                                <select name="" id="">
                                                    <option value="Day">Yes</option>
                                                    <option value="Night">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row st-loss">
                                            <div class="col">
                                                <label>Stop Loss</label>
                                                <input type="text" />
                                            </div>
                                            <div class="col">
                                                <label for="">Take Profit</label>
                                                <input type="text" />
                                            </div>
                                        </div>
                                        <div class="row execute-trade">
                                            <input type="submit" value="Execute Trade" />
                                        </div>
                                        <div class="row last-row">
                                            <div class="col">Amount(est.)</div>
                                            <div class="col">$0.00</div>
                                            <div class="w-100"></div>
                                            <div class="col">Buying Power</div>
                                            <div class="col">$00.00</div>
                                            <div class="w-100"></div>
                                            <div class="col">Max Shares to Buy</div>
                                            <div class="col">3</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </VueDragResize>
    </div>
    <div id="boardSelectPanel" style="display:none">
        <div class="row">
            <div class="col-md-4">
                <div class="card board-card">
                    <a @click.prevent="addNewBoard(1)">
                        <img class="card-img-top" src="/assets/img/add-board.png" alt="">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title board-title">Blank</h5>
                        <p class="card-text">Add widgets to blank boards.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card board-card">
                    <a @click.prevent="addNewBoard(2)">
                        <img class="card-img-top" src="/assets/img/add-board2.png" alt="">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title board-title">Normal</h5>
                        <p class="card-text">Default stock trading Board.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card board-card whole-show">
                    <!-- <a @click.prevent="addNewBoard(3)">
                        <img class="card-img-top" src="/assets/img/add-board3.png" alt="">
                    </a> -->
                    <a href="" class="hov-show-dropdown">
                        <img class="card-img-top" src="/assets/img/add-board3.png" alt="">
                        <ul class="ul-show-dropdown">

                            <li>
                                <a @click.prevent="addNewBoard(3)">
                                    2 Trade Vertical
                                </a>
                            </li>
                            <li>
                                <a @click.prevent="addNewBoard(4)">
                                    2 Trade Horizontal
                                </a>
                            </li>
                            <li>
                                <a @click.prevent="addNewBoard(5)">
                                    3 Trade Vertical
                                </a>
                            </li>
                            <li>
                                <a @click.prevent="addNewBoard(6)">
                                    3 Trade Horizontal
                                </a>
                            </li>
                            <li>
                                <a @click.prevent="addNewBoard(7)">
                                    4 Trade Vertical
                                </a>
                            </li>
                            <li>
                                <a @click.prevent="addNewBoard(8)">
                                    4 Trade Horizontal
                                </a>
                            </li>
                        </ul>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title board-title">Multi Trades</h5>
                        <p class="card-text">Multi-charts for trade boards.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import VueDragResize from 'vue-drag-resize'
import html2canvas from 'html2canvas';

export default {
    components: {
        VueDragResize,
    },
    data() {
        return {
            currentDiv: "",
            activeBoard: "",
            screenShot: "",
            
        }
    },
    props: {
        userBoards          : Array,
        // templateBoard       : Array,
        userTemplateBoards  : Array
    },
    computed: {
        currentDivArr: function () {
            let temp = {};
            $.each(this.$store.state.userBoards.boards, function (index, board) {
                temp["boardId-" + board.id] = {};
                board.widgets.forEach(widget => {
                    temp["boardId-" + board.id]["tagId-" + widget.id] = false
                });
            });
            return temp
        },
        isDraggable: function () {
            let temp = {};
            $.each(this.$store.state.userBoards.boards, function (index, board) {
                temp["boardId-" + board.id] = {};
                board.widgets.forEach(widget => {
                    temp["boardId-" + board.id]["tagId-" + widget.id] = true
                });
            });
            return temp
        },
        isResizable: function () {
            let temp = {};
            $.each(this.$store.state.userBoards.boards, function (index, board) {
                temp["boardId-" + board.id] = {};
                board.widgets.forEach(widget => {
                    temp["boardId-" + board.id]["tagId-" + widget.id] = true
                });
            });
            return temp
        },
        zIndex: function () {
            let temp = {};
            $.each(this.$store.state.userBoards.boards, function (index, board) {
                temp["boardId-" + board.id] = {};
                board.widgets.forEach(widget => {
                    temp["boardId-" + board.id]["tagId-" + widget.id] = 0
                });
            });
            return temp
        }
    },
    beforeMount() {
        this.$store.commit("setBoards", this.userBoards)
        this.$store.commit("setTemplates", this.userTemplateBoards)
        if (localStorage.getItem("activeBoard") === null) {
            this.$store.commit("setActiveBoard" , this.userBoards[0])
            this.activeBoard = this.userBoards[0]
        }else {
            this.$store.state.userBoards.boards.forEach(board => {
                let localStorageArr = JSON.parse(localStorage.getItem("activeBoard"));
                if (board.id == localStorageArr.id) {
                    console.log(board)
                    this.activeBoard = board
                    this.$store.commit("setActiveBoard", board)
                    localStorage.setItem("activeBoard", JSON.stringify(board))
                }
            });
        }
    },
    methods: {
        reCalculate(newRect) {
            axios.post('/api/changePostion', {
                    "positionId": this.currentDiv.split("tagId-")[1],
                    "newDimensions": newRect
                })
                .then(function (response) {
                    // console.log(response);
                })
                .catch(function (error) {
                    // console.log(error);
                })
                .then(function () {
                    // console.log("************");
                });
        },
        reselect(element) {
            this.currentDiv = element;
        },
        onActivated(boardId, key) {
            for (const [k, b] of Object.entries(this.currentDivArr[boardId])) {
                this.currentDivArr[boardId][k] = false
                this.zIndex[boardId][k] = 0
            }
            this.currentDivArr[boardId][key] = true
            this.zIndex[boardId][key] = 1
            document.getElementById("content").style.width = "100%"
            this.$forceUpdate();
        },
        onDeactivated(boardId, key) {

            this.currentDivArr[boardId][key] = false
            this.$forceUpdate();
        },
        rePosition(rect) {
            document.getElementById("content").style.width = "100%"
        },
        deleteElement(e, index, id) {
            let _this = this;
            axios.post('/api/deleteWidget', {
                    "widgetId": id
                })
                .then(function (response) {
                    _this.$delete(_this.$store.state.activeBoard.widgets, index)
                })
                .catch(function (error) {
                    // console.log(error);
                })
                .then(function () {
                    // console.log("************");
                });

        },
        pinToPosition(e, boardId, id) {
            e.target.classList.toggle("active")
            this.isDraggable[boardId][id] = !this.isDraggable[boardId][id]
            this.$forceUpdate();
        },
        ableToResize(e, boardId, id) {
            e.target.classList.toggle("active")
            this.isResizable[boardId][id] = !this.isResizable[boardId][id]
            this.$forceUpdate();
        },
        activateTab(board) {
            this.activeBoard = board;
            this.$store.commit("setActiveBoard", this.activeBoard)
            document.getElementById("boardSelectPanel").style.display = 'none'
            document.getElementById("content").style.display = 'block'
            localStorage.setItem("activeBoard", JSON.stringify(board))
            this.$forceUpdate()
            console.log(this.$store.state.userBoards.boards.length)
            
        },
        addNewTab() {
            document.getElementById("boardSelectPanel").style.display = 'block'
            document.getElementById("content").style.display = 'none'
        },
        editTabName(board) {
            board.editMode = true;
        },
        acceptEditTabName(board) {
            let boardName = document.getElementById(board.id).value;
            if(boardName == "Normal" || boardName == "Blank" || boardName == "2 Trades Vertical" || boardName == "2 Trades Horizontal" || boardName == "3 Trades Vertical" || boardName == "3 Trades Horizontal" || boardName == "4 Trades Vertical" || boardName == "4 Trades Horizontal") {
                swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Can not set this name!',
                })
            }else{
                if (this.$store.state.userBoards.boards.find(x => x.title == boardName) != undefined) {
                    swal.fire({
                        title: 'Do you want to overwrite it?',
                        showCancelButton: true,
                        confirmButtonText: `Save`,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            this.edit(board);
                        }else if(result.isDenied) {}
                    })
                } else {
                    this.edit(board);
                }
            }
        },
        async edit(board) {
            let _this           = this
            let boardElement    = this.$refs.screenShotBoard;
            this.screenShot     = (await html2canvas(boardElement, {scrollY: -window.scrollY} )).toDataURL()
            axios.post('/api/editBoardName', {
                    "boardId"   : board.id,
                    "name"      : document.getElementById(board.id).value,
                    "boardImage": this.screenShot
                })
                .then(function (response) {
                    _this.$store.commit("setBoards", response.data)
                })
                .catch(function (error) {
                    // console.log(error);
                })
                .then(function () {
                    // console.log("************");
                })
            board.editMode = false;
        },
        deleteTab(board) {
            let _this = this
            axios.post('/api/removeBoard', {
                    "boardId": board.id
                })
                .then(function (response) {
                    let beforeBoardId = 0;
                    _this.userBoards.forEach((element,index) => {
                        if(board.id==element.id){
                            beforeBoardId = index-1
                        }
                    });
                    _this.$store.commit("removeBoard", board)
                    if(_this.$store.state.userBoards.boards.length==0){
                        window.location.href = '/board';
                    }
                    _this.activateTab(_this.$store.state.userBoards.boards[beforeBoardId])
                })
                .catch(function (error) {
                    // console.log(error);
                })
                .then(function () {
                    // console.log("************");
                })
        },
        addNewBoard(boardId) {
            let _this = this
            axios.post('/api/addBoard', {
                    "boardId": boardId
                })
                .then(function (response) {
                    // _this.userBoards.push(response.data)
                    _this.$store.commit("addBoards", response.data)
                    _this.activateTab(_this.$store.state.userBoards.boards[_this.$store.state.userBoards.boards.length - 1])
                    document.getElementById("boardSelectPanel").style.display = 'none'
                    document.getElementById("content").style.display = 'block'
                })
                .catch(function (error) {
                    // console.log(error);
                })
                .then(function () {
                    // console.log("************");
                })
        },
        hoverDragStop(e, boardId, widgetId) {
            this.isDraggable[boardId][widgetId] = false
            this.$forceUpdate();
        },
        hoverDragStart(e, boardId, widgetId, headerId) {
            this.zIndex[boardId][widgetId] = 1
            if (!document.querySelectorAll("#" + headerId + " .pinBtn .fa")[0].classList.contains("active")) {
                this.isDraggable[boardId][widgetId] = true
                this.$forceUpdate();
            }
        }
    },
}
</script>

<style scoped>
#boardSelectPanel {
    width: 70%;
    margin: auto;
}

.form-bg {
    background-color: #00000021;
}

.form-bg:focus {
    box-shadow: none !important;
    color: #fff !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #00ada2;
}

ul.nav-tabs {
    margin-top: 12px;
}

.card.tab-contents {
    border-top: none;
    border-radius: 0;
}

.nav-link.tab {
    border-radius: 0;
    padding-right: 8px;
}

.nav-link.tab span {
    transition: 0.8s;
    color: #fff;
    font-size: 14px;
    opacity: 0.54;
}

.nav-link.tab span:hover {
    color: #fff;
}

.nav-link.tab.active span {
    opacity: 1;
}

.icon-btn {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 0.875rem;
    padding: 0 5px;
}

.icon-btn .fa {
    opacity: 0.54;
    transition: 0.8s;
}

.icon-btn .fa:hover {
    color: #00ada2;

}

.nav-link.tab.add-btn {
    padding-left: 8px;
}

.nav-link.tab.add-btn.icon-btn {
    color: #2980b9;
    margin: 0;
}

.a-style {
    color: #00ada2;
}

.table th,
.table td {
    border-bottom: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border: none !important;
}

.table th:nth-child(1),
.table td:nth-child(1) {
    padding-left: 50px;
}

.table th:last-child,
.table td:last-child {
    padding-right: 50px;
}

th {
    color: #00cfc0;
}

.red {
    color: red;
}

.green {
    color: #08e008;
}

/* Style the tab */
tr:nth-child(even) {
    background-color: rgb(242 242 242 / 7%);
}

td.order-symbol {
    color: orange;
    text-transform: uppercase;
}

td.order-side {
    text-transform: uppercase;
}

.order-buy {
    color: #05cc0c !important;
}

.order-sell {
    color: red !important;
}

table tr td.order-status.order-filled i:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #02a511;
    left: 10px;
    top: 11px;
}

table tr td.order-status.order-filled {
    padding-left: 35px;
    position: relative;
}

table tr td.order-status.order-pending i:after {
    content: "";
    position: absolute;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 18px solid yellow;
    left: 10px;
}

td.order-status.order-pending {
    position: relative;
    padding-left: 35px;
}

td.order-tif {
    text-transform: uppercase;
}

td.order-route {
    text-transform: uppercase;
}

.vdr.price-chart:before {
    display: none;
}

.order-place .row {
    width: 100%;
    justify-content: space-between;
}

.order-place select {
    width: 100%;
}

.order-place select,
.order-place input {
    color: #000;
}

.order-place option {
    color: #000 !important;
}

.col-md-4.header-two-part {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-two-part h4 {
    margin-left: 5px;
    margin-right: 5px;
}

.row.data-dollars {
    margin-bottom: 30px;
}

.row.data-stocks {
    margin-bottom: 30px;
}

.order-place .col {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 48% !important;
}

.order-place .row {
    margin-left: 0px;
    margin-right: 0px;
}

.order-place input[type="text"] {
    width: 100%;
}

form.order-place-form {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.order-place {
    border: 2px solid #4a5358;
}

.invest-in-row {
    padding-bottom: 20px;
}

.estimat-qty {
    padding-top: 20px;
}

.m-price {
    padding-top: 20px;
}

.est-cost {
    padding-top: 20px;
}

.bid-price {
    background-color: #274050;
    padding: 15px 10px !important;
}

.ask-price {
    background-color: #274050;
    padding: 15px 10px !important;
}

.lot-size {
    background-color: #00ada2;
    padding: 15px 10px;
    border-radius: 28px;
}

.bid-p-row {
    /* padding-left:10px; */
    /* padding-right:10px; */
    margin-bottom: 20px;
    margin-top: 10px;
    background: #274050;
}

.col.ask-price {
    text-align: right;
}

.col.lot-size {
    text-align: center;
}

.bid-p-row p {
    margin: 0px;
}

.buy-btn input[type="submit"] {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #00ada2;
}

.sell-btn input[type="submit"] {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #00ada2;
}

.order-t-qty {
    margin-top: 15px;
}

.lmt-price {
    margin-top: 15px;
}

.day-in-force {
    margin-top: 15px;
}

.order-place .lmt-price .col {
    max-width: 100% !important;
}

.st-loss {
    margin-top: 15px;
}

.execute-trade input[type="submit"] {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #00ada2;
}

.execute-trade {
    margin-top: 20px;
    margin-bottom: 15px;
}

.last-row .col {
    padding-bottom: 15px;
}

.bottom_form {
    display: none;
}

form.order-place-form input[type="number"] {
    width: 100%;
}

.adv-checked {
    padding-top: 15px;
    padding-bottom: 5px;
}

.aapl-custom-box h4 {
    font-size: 17px;
}

.row .custom-row select {
    padding: 0px 10px;
}

.row .custom-row select {
    padding: 0px 10px;
    background: #001623;
    color: #fff;
}

.row .custom-row select option {
    padding: 0px 10px;
    background: #001623;
    color: #fff !important;
}

.custom-row select option:hover {
    background-color: #00ada2 !important;
    color: #fff !important;
}

.form-bottom-body {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.nav-link.tab.add-btn.icon-btn {
    color: #2980b9;
    margin: 0;
}

ul.nav.nav-tabs {
    width: 94%;
    display: flex !important;
    flex-wrap: inherit;
}

li.nav-item {
    flex-grow: 1;
    /* min-width: calc(94%/19); */
}

.lite-theme li.nav-item {
    border: 1px solid #cfcfcf;
}

li.nav-item:last-child {
    flex-grow: 0.1;
    position: absolute;
    right: -45px;
}

.lite-theme li.nav-item:last-child {
    border: none;
}

li.nav-item a span {
    margin-right: 0px !important;
}
</style>
