<template>
<div>
    <div class="trade-main-content container">
        <div class="trade-1-row">
            <sidebar :activePage="activePage" />
            <div class="trade-1-col-right">
                <div class="container main-nav-trade-pg">
                    <!-- Navigation Start -->
                    <navbar />
                    <slot />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 9th Screen End -->
</template>

<script>
import ApplicationLogo from '../Components/ApplicationLogo'
import Sidebar from '../Components/SidebarMenu'
import Navbar from '../Components/NavbarTrade'

export default {
    props: {
        activePage: String,
    },
    components: {
        ApplicationLogo,
        Sidebar,
        Navbar,
    },

    data() {
        return {
            showingNavigationDropdown: false,
        }
    },
}
</script>
